<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-12 col-sm-4">
                <div class="footer-logo">
                    <a href="">
                        <img alt="" src="../../img/logo-footer.svg">
                    </a>
                </div>
                <div class="footer-desc">
                    <p>Production of paper disposable tableware and packaging</p>
                </div>
                <div class="footer-social">
                    <a href=""><img alt="" src="../../img/instagram.svg"></a>
                    <a href=""><img alt="" src="../../img/facebook.svg"></a>
                    <a href=""><img alt="" src="../../img/youtube.svg"></a>
                </div>
            </div>
            <div class="col-xl-8 col-12 col-sm-8">
                <div class="row">
                    <div class="col-xl-4 col-6">
                        <div class="footer-item">
                            <div class="footer-item__title">
                                <p class="title-text">Catalog</p>
                            </div>
                            <div class="footer-item__links">
                                <a class="link" href="404.html">Disposable paper cups</a>
                                <a class="link" href="404.html">Two-layer paper cups</a>
                                <a class="link" href="404.html">Paper containers for food delivery</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="footer-item">
                            <div class="footer-item__title">
                                <p class="title-text">Services</p>
                            </div>
                            <div class="footer-item__links">
                                <a class="link" href="404.html">Prowing paperware with logo</a>
                                <a class="link" href="404.html">Paper cups with the customer's logo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="footer-item">
                            <div class="footer-item__title">
                                <p class="title-text">About company</p>
                            </div>
                            <div class="footer-item__links">
                                <a class="link" href="404.html">Production of paperware</a>
                                <a class="link" href="404.html">Where to buy our products</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-dev">
                            <a href="">Privacy policy</a>
                            <p>Created in <a href="https://sitecreative-eu.com/sk/" target="_blank"><span>Site-Creative</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="arrow-up d-none">
    <a class="arrow-up__btn" href="">
        <img alt="" src="../../img/arrrow-up.png">
    </a>
</div>
<div class="advantage-modal" id="ex1" class="modal">
    <div class="modal-wrapper">
        <div class="modal-close">
            <a  href="#" rel="modal:close"  class="modal-close__btn">
                <img src="../../img/modal-close.png" alt="">
            </a>
        </div>
        <div class="modal-title">
            <p>TECHNOLOGICAL POSSIBILITIES</p>
        </div>
        <div class="modal-desc">
            <p>Our company is a mid-level manufacturer, which provides a middle ground between the flexibility of a small company and the reliability of a large manufacturer.</p>
        </div>
        <div class="modal-info">
            <ul>
                <li>FULL PRODUCTION CYCLE</li>
                <li>PRINT OF ANY COMPLEXITY</li>
                <li>BEST EQUIPMENT IN THE INDUSTRY</li>
                <li>production of more than 3,000<br>tonnes of paper per year</li>
            </ul>
        </div>
    </div>
</div>
<div class="advantage-modal" id="ex2" class="modal">
    <div class="modal-wrapper">
        <div class="modal-close">
            <a  href="#" rel="modal:close"  class="modal-close__btn">
                <img src="../../img/modal-close.png" alt="">
            </a>
        </div>
        <div class="modal-title">
            <p>Quality, safety, ecology</p>
        </div>
        <div class="modal-desc">
            <p>We are constantly improving our processes to ensure the quality and safety of our products.</p>
        </div>
        <div class="modal-info">
            <ul>
                <li>FOOD PACKAGING-CERTIFIED RAW MATERIALS</li>
                <li>WASTE PRODUCTION IS REPROCESSED IN THE<br>SECOND PRODUCTS FOR NON-FOOD PRODUCTS</li>
            </ul>
        </div>
    </div>
</div>
<div class="advantage-modal" id="ex3" class="modal">
    <div class="modal-wrapper">
        <div class="modal-close">
            <a href="#" rel="modal:close" class="modal-close__btn">
                <img src="../../img/modal-close.png" alt="">
            </a>
        </div>
        <div class="modal-title">
            <p>Logic and service</p>
        </div>
        <div class="modal-desc">
            <p>Our main value is our customers. Every day we strive to become better.</p>
        </div>
        <div class="modal-info">
            <ul>
                <li>AN EVER-GROWING RANGE</li>
                <li>TRANSPARENT SYSTEM PRICE</li>
                <li>OWN DESIGN BUREAU</li>
                <li>SHORT PRODUCTION TIMES</li>
                <li>A WIDE NETWORK OF DISTRIBUTORS</li>
            </ul>
        </div>
    </div>
</div>
<div class="advantage-modal" id="ex4" class="modal">
    <div class="modal-wrapper">
        <div class="modal-close">
            <a href="#" rel="modal:close" class="modal-close__btn">
                <img src="../../img/modal-close.png" alt="">
            </a>
        </div>
        <div class="modal-title">
            <p>Thank you for your request</p>
        </div>
        <div class="modal-desc">
            <p></p>
        </div>
    </div>
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.8/js/swiper.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script src="js/vendor.js?v=2"></script>
<script src="js/bundle.js?v=2"></script>
</body>
</html>
