<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="errorPage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="errorPage-content">
                    <div class="errorPage-content__title">
                        <p class="title-text">SORRY, PAGE NOT FOUND</p>
                    </div>
                    <div class="errorPage-content__img">
                        <img src="../../img/404.png" alt="">
                    </div>
                    <div class="errorPage-content__btn">
                        <a href="/">
                            <button class="error-btn">Back to home</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
