<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="breadcrumbs-wrapper">
                    <li>Home</li>
                    <li>Buy</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="wordpage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="wordpage-title">
                    <h1 class="title-text">Buy</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="wordpage-img">
                    <img src="../../img/about.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="wordpage-content">
                    <p>Our production complex was designed and built to our order and in accordance with international standards of food packaging production. There are more than 10,000 sq m on an area of more than 10,000 sq m. there are warehouses, workshops and office space. With an annual processing volume of more than 4,000 tons of cardboard, our company is a mid-level manufacturer, which provides a middle ground between the flexibility of a small company and the reliability of a large manufacturer.</p>
                    <p>Itterra is a full-cycle manufacturer, from printing on paper to moulding finished products. This allows us to provide minimum time and quality at each stage of production. A variety of printing equipment allows you to make images of any complexity. Molding equipment with a capacity of up to 200 units per minute. Automatic packaging ensures the safety of our products.</p>
                    <p>For the production of disposable utensils, we use only certified for contact with food pulp raw materials from reliable European suppliers. Paper is made only from renewable forests. Print paints have a low level of migration and do not penetrate into food or beverages. All of our materials comply with The regulations of Russia, EC and USA for products that come into contact with food.
                        All waste from our production is recycled and used to produce non-food-friendly packaging.</p>
                    <div class="wordpage-slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../../img/coffie.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="../../img/coffie.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="../../img/coffie.png" alt="">
                            </div>
                        </div>
                        <div class="wordpage-arrow_left">
                            <img src="../../img/quality-left.png" alt="">
                        </div>
                        <div class="wordpage-arrow_right">
                            <img src="../../img/quality-right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="see">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="see-content">
                    <div class="content-title">
                        <p class="title-text">See our products</p>
                    </div>
                    <div class="content-arrow">
                        <img src="../../img/arrow-right.png" alt="">
                    </div>
                    <div class="content-btn">
                        <a href="catalog.html">
                            <button>See</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="bg">
            <img src="../../img/substrack.png" alt="">
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-title">
                    <p class="title-text">Contacts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-sm-5">
                <div class="contact-info">
                    <div class="info-address">
                        <img src="../../img/map.svg" alt="">
                        <p>Regus Business Centre Bratislava s.r.o.
                            Office 126<br>
                            Karadžičova 8/A</p>
                    </div>
                    <div class="info-address">
                        <img src="../../img/phone-call.svg" alt="">
                        <p>
                            <a href="tel:+421259396110">+421 2 59 39 6110</a>
                        </p>
                    </div>
                    <div class="info-address">
                        <img src="../../img/mail.svg" alt="">
                        <p>
                            <a href="mailto:info@itterra.eu">info@itterra.eu</a>
                        </p>
                    </div>
                    <div class="info-links">
                        <a href="" class="link"><img src="../../img/instagram.svg" alt=""></a>
                        <a href="" class="link"><img src="../../img/facebook.svg" alt=""></a>
                        <a href="" class="link"><img src="../../img/youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-sm-7">
                <div class="contact-form">
                    <div class="form-input">
                        <input type="text" class="form-val" name="name" placeholder="Your name">
                    </div>
                    <div class="form-input">
                        <input type="text" class="form-val" name="email" placeholder="E-mail">
                    </div>
                    <div class="form-info">
                        <div class="form-column">
                            <div class="form-input">
                                <input type="text" class="form-val" name="company" placeholder="Company name">
                            </div>
                            <div class="form-input">
                                <input type="text" class="form-val" name="phone" placeholder="Phone number">
                            </div>
                        </div>
                        <div class="form-textarea">
                            <textarea class="form-val" name="message" placeholder="Your comment"></textarea>
                        </div>
                    </div>
                    <div class="form-policy">
                        <p>By clicking the send button you consent to the processing of your personal date.</p>
                    </div>
                    <div class="form-submit">
                        <button class="form-submit__btn">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
