<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="breadcrumbs-wrapper">
                    <li>Home</li>
                    <li>Catalog</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="catalog">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="catalog-title">
                    <p class="title-text">Catalog</p>
                </div>
            </div>
        </div>
        <div class="row catalog-list">
            <% for(let i = 0; i < 8; i++) { %>
            <div class="col-xl-6 col-sm-6">
                <div class="catalog-card">
                    <div class="card-img">
                        <img src="../../img/catalog-img.png" alt="">
                    </div>
                    <div class="catalog-content">
                        <p class="content-title">Single-layer paper cups</p>
                        <p class="content-desc">For hot and cold drinks</p>
                        <a href="product.html">
                            <button class="content-btn">Learn more</button>
                        </a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
