<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="breadcrumbs-wrapper">
                    <li>Cart</li>
                    <li>order payment</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="order-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="order-page__steps">
                    <div class="step step-1">
                        <div class="step-wrapper">
                            <div class="step-num">
                                1
                                <div class="step-line"></div>
                            </div>
                            <div class="step-text">
                                Cart
                            </div>
                        </div>
                    </div>
                    <div class="step step-2">
                        <div class="step-wrapper">
                            <div class="step-num">
                                2
                                <div class="step-line"></div>
                            </div>
                            <div class="step-text">
                                Payment
                            </div>
                        </div>
                    </div>
                    <div class="step step-3 active">
                        <div class="step-wrapper">
                            <div class="step-num">
                                3
                            </div>
                            <div class="step-text">
                                Confirm
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="order-page__title">
                    <p>Your order is made</p>
                </div>
                <div class="order-page__confirm">
                    <div class="row align-items-center confirm-item">
                        <div class="col-xl-auto col-4 col-sm-3 col-lg-2">
                            <div class="shopping-item__img">
                                <img src="../../img/product-small.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 col-8 col-sm-9 col-lg-7">
                            <div class="shopping-item__content">
                                <p class="content-title">
                                    Single-layer paper cups
                                </p>
                                <div class="content-info">
                                    <p>Cup size: 100 ml</p>
                                    <p>Quantity: 20.000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-auto ml-auto col-12 col-sm-12 col-lg-3">
                            <div class="shopping-item__price">
                                <div class="price-value">
                                    <img src="../../img/euro.svg" alt="">
                                    <span>1,900.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="confirm-checkout">
                                <div class="checkout-line">
                                    <p class="title">Subtotal</p>
                                    <p class="info">
                                        <img src="../../img/euro.svg" alt="">
                                        <span>1,900/00</span>
                                    </p>
                                </div>
                                <div class="checkout-line">
                                    <p class="title">Delivery</p>
                                    <p class="info">
                                        <span>free</span>
                                    </p>
                                </div>
                                <div class="checkout-total">
                                    <p class="title">Total (tax excl.)</p>
                                    <p class="info">
                                        <img src="../../img/euro.svg" alt="">
                                        <span>1,900/00</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="confirm-details">
                                <div class="details-title">
                                    <p>ORDER DETAILS:</p>
                                </div>
                                <div class="details-item">
                                    <p>Order reference: QWERTYUI</p>
                                </div>
                                <div class="details-item">
                                    <p>Payment method: Bank transfer</p>
                                </div>
                                <div class="details-item">
                                    <p>Production and delivery in less than 15 working days</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
