<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="breadcrumbs-wrapper">
                    <li>Home</li>
                    <li>Buy</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="wordpage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="wordpage-title">
                    <h1 class="title-text">Contacts</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact contact-page">
    <div class="container">
        <div class="bg">
            <img src="../../img/substrack2.png" alt="">
        </div>
        <div class="row">
            <div class="col-xl-5 col-sm-5">
                <div class="contact-info">
                    <div class="info-address">
                        <img src="../../img/map.svg" alt="">
                        <p>Regus Business Centre Bratislava s.r.o.
                            Office 126<br>
                            Karadžičova 8/A</p>
                    </div>
                    <div class="info-address">
                        <img src="../../img/phone-call.svg" alt="">
                        <p>
                            <a href="tel:+421259396110">+421 2 59 39 6110</a>
                        </p>
                    </div>
                    <div class="info-address">
                        <img src="../../img/mail.svg" alt="">
                        <p>
                            <a href="mailto:info@itterra.eu">info@itterra.eu</a>
                        </p>
                    </div>
                    <div class="info-links">
                        <a href="" class="link"><img src="../../img/instagram.svg" alt=""></a>
                        <a href="" class="link"><img src="../../img/facebook.svg" alt=""></a>
                        <a href="" class="link"><img src="../../img/youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-map" id="map"></div>
</div>
<div class="contact contact-us">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-sm-12 ml-auto">
                <div class="contact-us__title">
                    <p>Contact us</p>
                </div>
                <div class="contact-form">
                    <div class="form-input">
                        <input type="text" class="form-val" name="name" placeholder="Your name">
                    </div>
                    <div class="form-input">
                        <input type="text" class="form-val" name="email" placeholder="E-mail">
                    </div>
                    <div class="form-info">
                        <div class="form-column">
                            <div class="form-input">
                                <input type="text" class="form-val" name="company" placeholder="Company name">
                            </div>
                            <div class="form-input">
                                <input type="text" class="form-val" name="phone" placeholder="Phone number">
                            </div>
                        </div>
                        <div class="form-textarea">
                            <textarea class="form-val" name="message" placeholder="Your comment"></textarea>
                        </div>
                    </div>
                    <div class="form-policy">
                        <p>By clicking the send button you consent to the processing of your personal date.</p>
                    </div>
                    <div class="form-submit">
                        <button class="form-submit__btn">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap() {
        var myLatLng = { lat: 51.5299586, lng: 46.0228112 };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: '',
            icon: 'https://mt.googleapis.com/vt/icon/name=icons/onion/SHARED-mymaps-container-bg_4x.png,icons/onion/SHARED-mymaps-container_4x.png,icons/onion/1577-food-fork-knife_4x.png&highlight=ff000000,A52714&scale=2.0'
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_7noLMCvuTbZQgG9Rdp_cS-NY4tub69U&callback=initMap&language=sk"></script>
<%= _.template(require('./../includes/footer.html').default)(data) %>
