<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="container mt-5 pt-5">
    <div class="row mt-5 ">
        <div class="col-xl-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th data-label="#" scope="row">1</th>
                    <td data-label="First">Mark</td>
                    <td data-label="Last">Otto</td>
                    <td data-label="Handle">@mdo</td>
                </tr>
                <tr>
                    <th data-label="#" scope="row">1</th>
                    <td data-label="First">Mark</td>
                    <td data-label="Last">Otto</td>
                    <td data-label="Handle">@mdo</td>
                </tr>
                <tr>
                    <th data-label="#" scope="row">1</th>
                    <td data-label="First">Mark</td>
                    <td data-label="Last">Otto</td>
                    <td data-label="Handle">@mdo</td>
                </tr>
                </tbody>
            </table>
            <ul class="ul-list">
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>
                    Lorem
                    <ul>
                        <li>lorem</li>
                        <li>lorem</li>
                        <li>lorem</li>
                        <li>lorem</li>
                        <li>lorem</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
