<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="slider swiper-container">
    <div class="swiper-wrapper">
        <% for (let i = 0; i < 4; i++) { %>
        <div class="swiper-slide" style="background: url('../../img/slider.png')">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <div class="content-new">
                                <img src="../../img/new.png" alt="">
                            </div>
                            <div class="content-title">
                                <p class="title-text">Paper two-layer cup <br>THERMOCUP without design</p>
                            </div>
                            <div class="content-link">
                                <a href="#">
                                    <button class="content-link__btn">Learn more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="slider-dots">
        <div class="slider-dots__wrapper">
            <div class="dots dots-active"></div>
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
        </div>
    </div>
</div>
<div class="product">
    <div class="container">
        <div class="eclips">
            <img src="../../img/eclips.png" alt="">
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="product-title">
                    <p class="title-text">Our products</p>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="product-desc">
                    <p>ONLY GREEN AND SAFE ONE AND PACK</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="product-wrapper">
                    <div
                        class="product-item product-item__active"
                        data-avalible="100ml, 150ml, 165ml, 185ml, 250ml, 300ml, 400ml, 500ml"
                        data-material="one-way polyethylene pulp paper"
                        data-picture="../../img/product-big.png"
                        data-link="product.html"
                        data-cup="Paper cup"
                        data-title="For hot and cold drinks"
                    >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/product-small.png" alt="">
                        </div>
                    </div>
                    <div
                            class="product-item"
                            data-avalible="250ml, 300ml, 400ml"
                            data-material="one-way polyethylene pulp paper"
                            data-picture="../../img/cup/cup2.png"
                            data-link="product.html"
                            data-cup="TWO-LAYER THERMOCUP "
                            data-title="For hot drinks"
                    >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/cup2.png" alt="">
                        </div>
                    </div>
                    <div
                            class="product-item"
                            data-avalible="250ml, 300ml"
                            data-material="M one-way polyethylene-coated pulp paper"
                            data-picture="../../img/cup/cup3.png"
                            data-link="product.html"
                            data-cup="CORRUGATED PAPER CUPS “TWISTCUP”"
                            data-title="For hot drinks"
                    >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/cup3.png" alt="">
                        </div>
                    </div>
                    <div
                            class="product-item"
                            data-avalible="300ml, 450ml, 500ml"
                            data-material="pulp paper with bilateral coating of polyethylene"
                            data-picture="../../img/cup/cup4.png"
                            data-link="product.html"
                            data-cup="Paper cup"
                            data-title="For cold drinks"
                    >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/cup4.png" alt="">
                        </div>
                    </div>
                    <div
                            class="product-item"
                            data-avalible="2 or 4 paper cups"
                            data-material="compressed paper"
                            data-picture="../../img/cup/cup5.png"
                            data-link="product.html"
                            data-cup="Accessories for paper glasses"
                            data-title="Lids, holders and paper glass organisers"
                    >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/cup5.png" alt="">
                        </div>
                    </div>
                    <div
                            class="product-item"
                            data-avalible="100ml, 150ml, 165ml, 185ml, 250ml, 300ml, 400ml, 500ml"
                            data-material="one-way polyethylene pulp paper"
                            data-picture="../../img/cup/cup6.png"
                            data-link="product.html"
                            data-cup="Fast food packaging"
                            data-title="for fries, chips, snacks, rolls, hot dogs"
                    >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/cup6.png" alt="">
                        </div>
                    </div>
                    <div
                            class="product-item"
                            data-avalible="300ml, 500ml, 750ml"
                            data-material="pulp paper with bilateral coating of polyethylene"
                            data-picture="../../img/cup/cup7.png"
                            data-link="product.html"
                            data-cup="PAPER CONTAINER WITH ROUND BOTTOM"
                            data-title="for soups, cereals and other liquid dishes"
                    >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/cup7.png" alt="">
                        </div>
                    </div>
                    <div
                            class="product-item"
                            data-avalible="500ml, 700ml, 900ml"
                            data-material="pulp paper with bilateral coating of polyethylene"
                            data-picture="../../img/cup/cup8.png"
                            data-link="product.html"
                            data-cup="CHINE-BOX"
                            data-title="paper containers for vok noodles and other dishes"
                    >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/cup8.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="product-content">
                    <div class="content-warning">
                        <p>For hot and cold drinks</p>
                    </div>
                    <div class="content-material">
                        <p><span>Material:</span> one-way polyethylene pulp paper</p>
                    </div>
                    <div class="content-available">
                        <p><span>Available containers:</span> 100ml, 150ml, 165ml, 185ml, 250ml, 300ml, 400ml, 500ml</p>
                    </div>
                    <div class="content-more">
                        <a href="">
                            <button class="content-more__btn">Learn more</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="product-arrow">
                    <a href="" class="product-arr product-up">
                        <img src="../../img/product-up.png" alt="">
                    </a>
                    <a href="" class="product-arr product-down">
                        <img src="../../img/product-down.png" alt="">
                    </a>
                </div>
                <div class="product-simple">
                    <p class="simple-title">FOR HOT AND COLD DRINKS</p>
                    <img src="../../img/product-big.png" alt="">
                </div>
            </div>
        </div>
        <div class="row d-xl-none">
            <div class="col-12">
                <div class="d-flex flex-wrap">
                    <a href="product.html" class="product-link">
                        <div class="item-img">
                            <img src="../../img/product-small.png" alt="">
                        </div>
                        <span class="item-title">
                        For hot and cold drinks
                    </span>
                    </a>
                    <a href="product.html" class="product-link">
                        <div class="item-img">
                            <img src="../../img/cup2.png" alt="">
                        </div>
                        <span class="item-title">
                        For hot drinks
                    </span>
                    </a>
                    <a href="product.html" class="product-link">
                        <div class="item-img">
                            <img src="../../img/cup3.png" alt="">
                        </div>
                        <span class="item-title">
                        For hot drinks
                    </span>
                    </a>
                    <a href="product.html" class="product-link">
                        <div class="item-img">
                            <img src="../../img/cup4.png" alt="">
                        </div>
                        <span class="item-title">
                        For cold drinks
                    </span>
                    </a>
                    <a href="product.html" class="product-link">
                        <div class="item-img">
                            <img src="../../img/cup5.png" alt="">
                        </div>
                        <span class="item-title">
                        Lids, holders and paper glass organisers
                    </span>
                    </a>
                    <a href="product.html" class="product-link">
                        <div class="item-img">
                            <img src="../../img/cup6.png" alt="">
                        </div>
                        <span class="item-title">
                        for fries, chips, snacks, rolls, hot dogs
                    </span>
                    </a>
                    <a href="product.html" class="product-link">
                        <div class="item-img">
                            <img src="../../img/cup7.png" alt="">
                        </div>
                        <span class="item-title">
                        for soups, cereals and other liquid dishes
                    </span>
                    </a>
                    <a href="product.html" class="product-link">
                        <div class="item-img">
                            <img src="../../img/cup8.png" alt="">
                        </div>
                        <span class="item-title">
                        paper containers for vok noodles and other dishes
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clients">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="clients-title">
                    <p class="title-text">Clients</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clients-wrapper">
        <div class="clients-item">
            <div class="clients-item__img">
                <img src="../../img/clients/clients1.jpg" alt="">
            </div>
            <div class="clients-item__text">
                <p>Paperware of our production has successfully proved itself in cafes at gas stations of such brands as Gazpromneft, Rosneft, Bashneft and many others.</p>
            </div>
            <div class="clients-item__title">
                <p>Cafe at the gas station</p>
            </div>
        </div>
        <div class="clients-item">
            <div class="clients-item__img">
                <img src="../../img/clients/clients2.jpg" alt="">
            </div>
            <div class="clients-item__text">
                <p>
                    We love coffee and produce good packaging for good coffee. Our glasses are made of quality raw materials, the design is made with food colors, such glasses do not change the taste and smell of this beautiful drink.
                </p>
            </div>
            <div class="clients-item__title">
                <p>COFFEE POINTS</p>
            </div>
        </div>
        <div class="clients-item">
            <div class="clients-item__img">
                <img src="../../img/clients/clients3.jpg" alt="">
            </div>
            <div class="clients-item__text">
                <p>Our partners around the world are helping to consolidate and distribute our products.</p>
            </div>
            <div class="clients-item__title">
                <p>Consumables suppliers</p>
            </div>
        </div>
        <div class="clients-item">
            <div class="clients-item__img">
                <img src="../../img/clients/clients4.jpg" alt="">
            </div>
            <div class="clients-item__text">
                <p>In our products you can beautifully pack dishes of any cuisine. You can be sure that the food will arrive to the buyer in the same way as it was packed in your kitchen.</p>
            </div>
            <div class="clients-item__title">
                <p>Food delivery</p>
            </div>
        </div>
        <div class="clients-item">
            <div class="clients-item__img">
                <img src="../../img/clients/clients5.jpg" alt="">
            </div>
            <div class="clients-item__text">
                <p>Paper packaging is indispensable for packing ready meals and cooking inside supermarkets, and paperware in retail packaging is quickly sold from the shelf all year round.</p>
            </div>
            <div class="clients-item__title">
                <p>Retail</p>
            </div>
        </div>
    </div>
</div>
<div class="quality">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="quality-title">
                    <p class="title-text">Quality</p>
                </div>
                <div class="quality-desc">
                    <p>For the production of paper cups, we use high -tech equipment and can guarantee quality. Watch the video with testing the quality of paper cups for hot and cold drinks of our production.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="quality-wrapper">
                    <div class="quality-left">
                        <a href="#" class="quality-left__btn">
                            <img src="../../img/quality-left.png" alt="">
                        </a>
                    </div>
                    <div class="quality-tabs">
                        <div class="tab">
                            <button data-slide="slide1" class="tab-btn tab-active">Production</button>
                        </div>
                        <div class="tab">
                            <button data-slide="slide2" class="tab-btn">Internation certificate</button>
                        </div>
                        <div class="tab">
                            <button data-slide="slide3" class="tab-btn">CMB certificate</button>
                        </div>
                        <div class="tab">
                            <button data-slide="slide4" class="tab-btn">Quality certificate</button>
                        </div>
                        <div class="tab">
                            <button data-slide="slide5" class="tab-btn">Ecology certificate</button>
                        </div>
                        <div class="tab">
                            <button data-slide="slide6" class="tab-btn">Watch the video</button>
                        </div>
                    </div>
                    <div class="quality-right">
                        <a href="#" class="quality-right__btn">
                            <img src="../../img/quality-right.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div data-slide="slide1" class="quality-wrap row">
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div data-slide="slide2" class="quality-wrap row d-none">
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div data-slide="slide3" class="quality-wrap row d-none">
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div data-slide="slide4" class="quality-wrap row d-none">
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div data-slide="slide5" class="quality-wrap row d-none">
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div data-slide="slide6" class="quality-wrap row d-none">
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6">
                <div class="quality-video">
                    <div class="video-img">
                        <img src="../../img/video.png" alt="">
                    </div>
                    <div class="video-play">
                        <img src="../../img/play.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="advantage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="advantage-title">
                    <p class="title-text">Our advantage</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-4">
                <div class="advantage-item">
                    <div class="item-img">
                        <img src="../../img/partneer.png" alt="">
                    </div>
                    <div class="item-content">
                        <div class="content-title">
                            <p>
                                <span>
                                    Logic and service
                                    <a href="#ex1" rel="modal:open">
                                        <img src="../../img/info.png" alt="">
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="content-desc">
                            <p>Our main value is our customers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="advantage-item">
                    <div class="item-img">
                        <img src="../../img/like.png" alt="">
                    </div>
                    <div class="item-content">
                        <div class="content-title">
                            <p>
                                <span>
                                    Quality, safety, ecology
                                    <a href="#ex2" rel="modal:open">
                                        <img src="../../img/info.png" alt="">
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="content-desc">
                            <p>We are constantly improving our processes to ensure safety of our products</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="advantage-item">
                    <div class="item-img">
                        <img src="../../img/setting.svg" alt="">
                    </div>
                    <div class="item-content">
                        <div class="content-title">
                            <p>
                                <span>
                                    Technological possibilities
                                    <a href="#ex3" rel="modal:open">
                                        <img src="../../img/info.png" alt="">
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="content-desc">
                            <p>Our company is a mid-level manufacturer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="bg">
            <img src="../../img/substrack.png" alt="">
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-title">
                    <p class="title-text">Contacts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-sm-5">
                <div class="contact-info">
                    <div class="info-address">
                        <img src="../../img/map.svg" alt="">
                        <p>Regus Business Centre Bratislava s.r.o.
                            Office 126<br>
                            Karadžičova 8/A</p>
                    </div>
                    <div class="info-address">
                        <img src="../../img/phone-call.svg" alt="">
                        <p>
                            <a href="tel:+421259396110">+421 2 59 39 6110</a>
                        </p>
                    </div>
                    <div class="info-address">
                        <img src="../../img/mail.svg" alt="">
                        <p>
                            <a href="mailto:info@itterra.eu">info@itterra.eu</a>
                        </p>
                    </div>
                    <div class="info-links">
                        <a href="" class="link"><img src="../../img/instagram.svg" alt=""></a>
                        <a href="" class="link"><img src="../../img/facebook.svg" alt=""></a>
                        <a href="" class="link"><img src="../../img/youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-sm-7">
                <div class="contact-form">
                    <div class="form-input">
                        <input type="text" class="form-val" name="name" placeholder="Your name">
                    </div>
                    <div class="form-input">
                        <input type="text" class="form-val" name="email" placeholder="E-mail">
                    </div>
                    <div class="form-info">
                        <div class="form-column">
                            <div class="form-input">
                                <input type="text" class="form-val" name="company" placeholder="Company name">
                            </div>
                            <div class="form-input">
                                <input type="text" class="form-val" name="phone" placeholder="Phone number">
                            </div>
                        </div>
                        <div class="form-textarea">
                            <textarea class="form-val" name="message" placeholder="Your comment"></textarea>
                        </div>
                    </div>
                    <div class="form-policy">
                        <p>By clicking the send button you consent to the processing of your personal date.</p>
                    </div>
                    <div class="form-submit">
                        <button class="form-submit__btn">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="insta">
    <div class="insta-wrapper">
        <div class="insta-big">
            <img src="../../img/insta-big.png" alt="">
        </div>
        <div class="insta-small">
            <% for (var n=0; n < 6; n++) {%>
                <div class="insta-small__item">
                    <img src="../../img/insta-small.png" alt="">
                </div>
            <% } %>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
