<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="breadcrumbs-wrapper">
                    <li>Cart</li>
                    <li>order payment</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="order-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="order-page__steps">
                    <div class="step step-1 active">
                        <div class="step-wrapper">
                            <div class="step-num">
                                1
                                <div class="step-line"></div>
                            </div>
                            <div class="step-text">
                                Cart
                            </div>
                        </div>
                    </div>
                    <div class="step step-2 ">
                        <div class="step-wrapper">
                            <div class="step-num">
                                2
                                <div class="step-line"></div>
                            </div>
                            <div class="step-text">
                                Payment
                            </div>
                        </div>
                    </div>
                    <div class="step step-3 ">
                        <div class="step-wrapper">
                            <div class="step-num">
                                3
                            </div>
                            <div class="step-text">
                                Confirm
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 order-1 order-xl-0">
                <div class="order-page__form">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-item">
                                <div class="item-label">
                                    Account
                                </div>
                                <div class="item-field">
                                    <input type="text" placeholder="E-mail" name="email" class="item-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-xl-4">
                        <div class="col-xl-12">
                            <div class="form-item">
                                <div class="item-label">
                                    Delivery address
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="First name" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="Last name" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="Phone number" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="Company name" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="VAT number" name="name" class="item-input">
                                    <a href="#ex10" rel="modal:open" class="input-info">
                                        <img src="../../img/info.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="Adress" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="Zip/Postal Code" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="City" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-item">
                                <div class="item-field select-field">
                                    <select name="" id="" class="item-input">
                                        <option value="">Country</option>
                                        <%= _.template(require('./../includes/country.html').default)(data) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-check">
                                <input type="checkbox" id="access" class="d-none">
                                <label for="access">
                                    <span></span>
                                    <p>Also use this address for billing </p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-xl-5">
                        <div class="col-xl-12">
                            <div class="form-item">
                                <div class="item-label">
                                    billing address
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="First name" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="Last name" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="Phone number" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="Company name" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="VAT number" name="name" class="item-input">
                                    <a href="#ex10" rel="modal:open" class="input-info">
                                        <img src="../../img/info.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="Adress" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="Zip/Postal Code" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-item">
                                <div class="item-field">
                                    <input type="text" placeholder="City" name="name" class="item-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-item">
                                <div class="item-field select-field">
                                    <select name="" id="" class="item-input">
                                        <option value="">Country</option>
                                        <%= _.template(require('./../includes/country.html').default)(data) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-continue">
                                <a href="payment.html">
                                    <button>
                                        Continue <img src="../../img/continue.png" alt="">
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 order-0 order-xl-0">
                <div class="order-page__card">
                    <div class="shopping-list">
                        <div class="shopping-item">
                            <div class="row">
                                <div class="col-xl-2 col-4">
                                    <div class="shopping-item__img">
                                        <img src="../../img/product-small.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-10 col-8">
                                    <div class="shopping-item__content">
                                        <p class="content-title">
                                            Single-layer paper cups
                                        </p>
                                        <div class="content-info">
                                            <p>Cup size: 100 ml</p>
                                            <p>Quantity: 20.000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shopping-checkout">
                        <div class="checkout-line">
                            <p class="title">Subtotal</p>
                            <p class="info">
                                <img src="../../img/euro.svg" alt="">
                                <span>1,900/00</span>
                            </p>
                        </div>
                        <div class="checkout-line">
                            <p class="title">Delivery</p>
                            <p class="info">
                                <span>free</span>
                            </p>
                        </div>
                        <div class="checkout-total">
                            <p class="title">Total (tax excl.)</p>
                            <p class="info">
                                <img src="../../img/euro.svg" alt="">
                                <span>1,900/00</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="order-page__promo">
                    <input type="checkbox" class="d-none" id="promo">
                    <label for="promo">
                        <p class="promo-show">Have a promo code</p>
                        <p class="promo-hide">Hide</p>
                    </label>
                    <div class="promo-form">
                        <input type="text" placeholder="Code">
                        <button>Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="advantage-modal" id="ex10" class="modal">
    <div class="modal-wrapper">
        <div class="modal-close">
            <a href="#" rel="modal:close" class="modal-close__btn">
                <img src="../../img/modal-close.png" alt="">
            </a>
        </div>
        <div class="modal-title text-left">
            <p style="text-align: left;text-transform: none;">VAT number</p>
        </div>
        <div class="modal-desc">
            <p style="font-weight: 500">e.g. DK12345678</p>
            <p>Without a VAT number, Danish VAT will be added amounting to 25% off the total price</p>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
