<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="breadcrumbs-wrapper">
                    <li>Cart</li>
                    <li>order payment</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="order-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="order-page__steps">
                    <div class="step step-1">
                        <div class="step-wrapper">
                            <div class="step-num">
                                1
                                <div class="step-line"></div>
                            </div>
                            <div class="step-text">
                                Cart
                            </div>
                        </div>
                    </div>
                    <div class="step step-2 active">
                        <div class="step-wrapper">
                            <div class="step-num">
                                2
                                <div class="step-line"></div>
                            </div>
                            <div class="step-text">
                                Payment
                            </div>
                        </div>
                    </div>
                    <div class="step step-3 ">
                        <div class="step-wrapper">
                            <div class="step-num">
                                3
                            </div>
                            <div class="step-text">
                                Confirm
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 order-1 order-xl-0">
                <div class="order-page__payment">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-item">
                                <div class="item-label">
                                    Payment
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="payment-list">
                                <div class="payment-item">
                                    <input type="radio" name="pay" class="d-none" id="pay1">
                                    <label for="pay1">
                                        <span></span>
                                        <p>Pay by bank wire (free)</p>
                                    </label>
                                </div>
                                <div class="payment-item">
                                    <input type="radio" name="pay" class="d-none" id="pay2">
                                    <label for="pay2">
                                        <span></span>
                                        <p>Pay by card (free)</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="payment-check">
                                <input type="checkbox" id="access" class="d-none">
                                <label for="access">
                                    <span></span>
                                    <p>I agree to the terms of service and will adhere to them <br>unconditionally.  </p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="payment-btn">
                                <a href="confirm.html">
                                    <button>Order with an obligation to pay</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 order-0 order-xl-0">
                <div class="order-page__card">
                    <div class="shopping-list">
                        <div class="shopping-item">
                            <div class="row">
                                <div class="col-xl-2 col-4">
                                    <div class="shopping-item__img">
                                        <img src="../../img/product-small.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-10 col-8">
                                    <div class="shopping-item__content">
                                        <p class="content-title">
                                            Single-layer paper cups
                                        </p>
                                        <div class="content-info">
                                            <p>Cup size: 100 ml</p>
                                            <p>Quantity: 20.000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shopping-checkout">
                        <div class="checkout-line">
                            <p class="title">Subtotal</p>
                            <p class="info">
                                <img src="../../img/euro.svg" alt="">
                                <span>1,900/00</span>
                            </p>
                        </div>
                        <div class="checkout-line">
                            <p class="title">Delivery</p>
                            <p class="info">
                                <span>free</span>
                            </p>
                        </div>
                        <div class="checkout-total">
                            <p class="title">Total (tax excl.)</p>
                            <p class="info">
                                <img src="../../img/euro.svg" alt="">
                                <span>1,900/00</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
