<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="breadcrumbs-wrapper">
                    <li>Products</li>
                    <li>single-layer paper cups</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="goods-title">
                    <h1 class="title-text">Red paper cup</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-sm-12 col-md-7 col-12">
                <div class="goods-picture">
                    <div class="goods-picture__cup">
                        <img src="../../img/cup100.png" class="cup-img" data-weight="100" alt="">
                        <img src="../../img/cup250.png" class="cup-img d-none" data-weight="250" alt="">
                        <img src="../../img/cup300.png" class="cup-img d-none" data-weight="300" alt="">
                        <img src="../../img/cup400.png" class="cup-img d-none" data-weight="400" alt="">
                    </div>
                    <div class="goods-picture__podium">
                        <img src="../../img/podium.png" alt="">
                    </div>
                </div>
                <div class="goods-thumb">
                    <div class="thumb-tab" data-fancybox="gallery" href="../../img/cup400.png">
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/product-small.png" alt="">
                        </div>
                    </div>
                    <div class="thumb-tab" data-fancybox="gallery" href="../../img/cup400.png" >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/cup2.png" alt="">
                        </div>
                    </div>
                    <div class="thumb-tab" data-fancybox="gallery" href="../../img/cup400.png" >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/cup3.png" alt="">
                        </div>
                    </div>
                    <div class="thumb-tab" data-fancybox="gallery" href="../../img/cup400.png" >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/cup4.png" alt="">
                        </div>
                    </div>
                    <div class="thumb-tab" data-fancybox="gallery" href="../../img/cup400.png" >
                        <div class="item-border"></div>
                        <div class="item-img">
                            <img src="../../img/morephoto.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-12 col-md-5 col-12">
                <div class="goods-card">
                    <div class="card-line">
                        <div class="card-title">
                            <p>
                                Сup size
                                <a href="#ex5" rel="modal:open"><img src="../../img/info.png" alt=""></a>
                            </p>
                        </div>
                        <div class="card-options">
                            <button data-weight="100" class="btn-option btn-option__active">100ml</button>
                            <button data-weight="250" class="btn-option">250ml</button>
                            <button data-weight="300" class="btn-option">300ml</button>
                            <button data-weight="400" class="btn-option">400ml</button>
                        </div>
                    </div>
                    <div class="card-line">
                        <div class="card-title">
                            <p>
                                Quanity
                                <a href="#ex6" rel="modal:open"><img src="../../img/info.png" alt=""></a>
                            </p>
                        </div>
                        <div class="card-range">
                            <input type="text"
                                   data-min="10"
                                   data-max="60000"
                                   class="card-range__input">
                        </div>
                    </div>
                    <div class="card-line">
                        <div class="line-row">
                            <div class="card-title">
                                <p>Unit price</p>
                            </div>
                            <div class="card-discount">
                                <p>Save 70%</p>
                            </div>
                            <div class="card-unitPrice">
                                <p>0,089</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-line">
                        <div class="line-row">
                            <div class="card-title">
                                <p>
                                    Total
                                    <a href="#ex7" rel="modal:open"><img src="../../img/info.png" alt=""></a>
                                </p>
                            </div>
                            <div class="card-price">
                                <p>1780,00</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-tax">
                        <div class="tax-wrapper">
                            <p class="tax-status">
                                Tax excluded
                            </p>
                            <div class="tax-line"></div>
                            <p class="delivery-free">
                                Free delivery by <span>5/05</span>
                            </p>
                            <p class="delivery-express">
                                Express by <span>24/04</span>
                            </p>
                        </div>
                    </div>
                    <div class="card-submit">
                        <button class="card-submit__btn">
                            Continue to artwork
                        </button>
                        <p>or <a href="pdf.html">Get a PDF offer</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-sm-12 col-md-8 col-12">
                <div class="goods-content">
                    <div class="goods-content__tabs">
                        <button data-content="app" class="content-tab tab-active">Application</button>
                        <button data-content="detail" class="content-tab">Product details</button>
                        <button data-content="standart" class="content-tab">Eco standart</button>
                    </div>
                    <div class="good-tab__content" data-content="app">
                        <div class="goods-content__text">
                            <p>Being incomparably low-priced and suitable for almost every purpose, the single-wall paper cup is our most popular product. Our clients – especially companies and organizations – use them for a variety of purposes, including internal as well as external marketing activities such as promotions, fairs, expos, corporate events or private parties. Anything from cold to warm beverages (e.g. juices, smoothies, lemonades or coffee) can be served in our single-wall paper cups, making it a very easy and convenient way to present the image of your company in a smooth and attractive way. For hot drinks, suitable for individual branding using stickers, markers and stamps. You can use cold drinks without ice.</p>
                        </div>
                        <div class="goods-content__btn">
                            <button>Read more</button>
                        </div>
                    </div>
                    <div class="good-tab__content d-none" data-content="detail">
                        <div class="goods-content__text">
                            <p>Being incomparably low-priced and suitable for almost every purpose, the single-wall paper cup is our most popular product. Our clients – especially companies and organizations – use them for a variety of purposes, including internal as well as external marketing activities such as promotions, fairs, expos, corporate events or private parties. Anything from cold to warm beverages (e.g. juices, smoothies, lemonades or coffee) can be served in our single-wall paper cups, making it a very easy and convenient way to present the image of your company in a smooth and attractive way. For hot drinks, suitable for individual branding using stickers, markers and stamps. You can use cold drinks without ice.</p>
                        </div>
                    </div>
                    <div class="good-tab__content d-none" data-content="standart">
                        <div class="goods-content__text">
                            <p>Being incomparably low-priced and suitable for almost every purpose, the single-wall paper cup is our most popular product. Our clients – especially companies and organizations – use them for a variety of purposes, including internal as well as external marketing activities such as promotions, fairs, expos, corporate events or private parties. Anything from cold to warm beverages (e.g. juices, smoothies, lemonades or coffee) can be served in our single-wall paper cups, making it a very easy and convenient way to present the image of your company in a smooth and attractive way. For hot drinks, suitable for individual branding using stickers, markers and stamps. You can use cold drinks without ice.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-12 col-md-4 col-12">
                <div class="row advantage-list">
                    <div class="col-12">
                        <div class="advantage-item">
                            <div class="item-img">
                                <img src="../../img/partneer.svg" alt="">
                            </div>
                            <div class="item-content">
                                <div class="content-title">
                                    <p>
                                <span>
                                    Logic and service
                                    <a href="#ex1" rel="modal:open">
                                        <img src="../../img/info.png" alt="">
                                    </a>
                                </span>
                                    </p>
                                </div>
                                <div class="content-desc">
                                    <p>Our main value is our customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="advantage-item">
                            <div class="item-img">
                                <img src="../../img/like.svg" alt="">
                            </div>
                            <div class="item-content">
                                <div class="content-title">
                                    <p>
                                <span>
                                    Quality, safety, ecology
                                    <a href="#ex2" rel="modal:open">
                                        <img src="../../img/info.png" alt="">
                                    </a>
                                </span>
                                    </p>
                                </div>
                                <div class="content-desc">
                                    <p>We are constantly improving our processes to ensure safety of our products</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="advantage-item">
                            <div class="item-img">
                                <img src="../../img/setting.svg" alt="">
                            </div>
                            <div class="item-content">
                                <div class="content-title">
                                    <p>
                                <span>
                                    Technological possibilities
                                    <a href="#ex3" rel="modal:open">
                                        <img src="../../img/info.png" alt="">
                                    </a>
                                </span>
                                    </p>
                                </div>
                                <div class="content-desc">
                                    <p>Our company is a mid-level manufacturer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-12">
                <div class="goods-alternative">
                    <div class="goods-alternative__title">
                        <p>АLTERNATIVES</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4 col-12">
                <div class="goods-alternative">
                    <a href="#" class="goods-alternative__card">
                        <span class="card-text">
                            Round-bottomed paper
                            containers
                        </span>
                        <span class="card-img">
                            <img src="../../img/product-small.png" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4 col-12">
                <div class="goods-alternative">
                    <a href="#" class="goods-alternative__card">
                        <span class="card-text">
                            Multi-layered corrugated
                            paper cups
                        </span>
                        <span class="card-img">
                            <img src="../../img/product-small.png" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4 col-12">
                <div class="goods-alternative">
                    <a href="#" class="goods-alternative__card">
                        <span class="card-text">
                            Accessories for paper glasses
                        </span>
                        <span class="card-img">
                            <img src="../../img/product-small.png" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="insta">
    <div class="insta-wrapper">
        <div class="insta-big">
            <img src="../../img/insta-big.png" alt="">
        </div>
        <div class="insta-small">
            <% for (var n=0; n < 6; n++) {%>
            <div class="insta-small__item">
                <img src="../../img/insta-small.png" alt="">
            </div>
            <% } %>
        </div>
    </div>
</div>
<div class="advantage-modal" id="ex5" class="modal">
    <div class="modal-wrapper">
        <div class="modal-close">
            <a href="#" rel="modal:close" class="modal-close__btn">
                <img src="../../img/modal-close.png" alt="">
            </a>
        </div>
        <div class="modal-title text-left">
            <p style="text-align: left;text-transform: none;">Select you size</p>
        </div>
        <div class="modal-desc">
            <p>Select your favorite cup size. Our most popular cup size is around 240 ml, a good size for most events.</p>
        </div>
        <div class="modal-img">
            <img src="../../img/cups.jpg" alt="">
        </div>
    </div>
</div>
<div class="advantage-modal" id="ex6" class="modal">
    <div class="modal-wrapper">
        <div class="modal-close">
            <a href="#" rel="modal:close" class="modal-close__btn">
                <img src="../../img/modal-close.png" alt="">
            </a>
        </div>
        <div class="modal-title text-left">
            <p style="text-align: left;text-transform: none;">Select a quantity</p>
        </div>
        <div class="modal-desc">
            <p>Select the quantity that fit your needs. We only work with the best manufacturers in Europe to ensure you the lowest possible quantity at the best price.</p>
            <p>Need bigger quantities? <a href="contact.html" style="color: #4B8F37">Contact</a> us for a quote.</p>
        </div>
    </div>
</div>
<div class="advantage-modal" id="ex7" class="modal">
    <div class="modal-wrapper">
        <div class="modal-close">
            <a href="#" rel="modal:close" class="modal-close__btn">
                <img src="../../img/modal-close.png" alt="">
            </a>
        </div>
        <div class="modal-title text-left">
            <p style="text-align: left;text-transform: none;">105% Price quarantee</p>
        </div>
        <div class="modal-desc">
            <p>The total price displayed is your final price. It includes your color choises, printing plates, standard delivery, design help, ect.</p>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
