<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="breadcrumbs-wrapper">
                    <li>Home</li>
                    <li>Catalog</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="production">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="production-title">
                    <p class="title-text">Production</p>
                </div>
            </div>
        </div>
    </div>
    <div class="production-slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div id="slide1" class="production-slide" style="background: url('../../img/video-bg.png');">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1La4QzGeaaQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="production-play" >
                        <img src="../../img/play.png" style="pointer-events: none" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="production-dots">
            <div class="production-dots__wrapper">
                <div class="dots dots-active"></div>
                <div class="dots"></div>
                <div class="dots"></div>
                <div class="dots"></div>
                <div class="dots"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-10 ml-auto mr-auto">
                <div class="production-content">
                    <div class="content-info">
                        <p class="info-title">MODERN PRODUCTION COMPLEX</p>
                        <p class="info-desc">Our production complex was designed and built to our order and in accordance with international standards of food packaging production. There are more than 10,000 sq m on an area of more than 10,000 sq m. there are warehouses, workshops and office space. With an annual processing volume of more than 4,000 tons of cardboard, our company is a mid-level manufacturer, which provides a middle ground between the flexibility of a small company and the reliability of a large manufacturer.</p>
                    </div>
                    <div class="content-info">
                        <p class="info-title">TECHNOLOGICAL POSSIBILITIES</p>
                        <p class="info-desc">Itterra is a full-cycle manufacturer, from printing on paper to moulding finished products. This allows us to provide minimum time and quality at each stage of production. A variety of printing equipment allows you to make images of any complexity. Molding equipment with a capacity of up to 200 units per minute.
                            Automatic packaging ensures the safety of our products.</p>
                    </div>
                    <div class="content-info">
                        <p class="info-title">Ecology AND Safety</p>
                        <p class="info-desc">For the production of disposable utensils, we use only certified for contact with food pulp raw materials from reliable European suppliers. Paper is made only from renewable forests. Print paints have a low level of migration and do not penetrate into food or beverages. All of our materials comply with The regulations of Russia, EC and USA for products that come into contact with food.
                            All waste from our production is recycled and used to produce non-food-friendly packaging.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="production-tabs">
                    <button data-tab="cert" class="tab-btn tab-btn__active">Certificate</button>
                    <button data-tab="part" class="tab-btn">Partners</button>
                    <button data-tab="eco" class="tab-btn">Eco standart</button>
                </div>
                <div data-tab="cert" class="production-certificate">
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert1.png" src="../../img/cert1.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert2.png" src="../../img/cert2.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert1.png" src="../../img/cert1.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert2.png" src="../../img/cert2.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert1.png" src="../../img/cert1.png" alt=""></div>
                </div>
                <div data-tab="part" class="production-certificate d-none">
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert1.png" src="../../img/cert1.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert2.png" src="../../img/cert2.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert1.png" src="../../img/cert1.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert2.png" src="../../img/cert2.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert1.png" src="../../img/cert1.png" alt=""></div>
                </div>
                <div data-tab="eco" class="production-certificate d-none">
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert1.png" src="../../img/cert1.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert2.png" src="../../img/cert2.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert1.png" src="../../img/cert1.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert2.png" src="../../img/cert2.png" alt=""></div>
                    <div class="certificate"><img data-fancybox="gal" href="../../img/cert1.png" src="../../img/cert1.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="see">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="see-content">
                    <div class="content-title">
                        <p class="title-text">See our products</p>
                    </div>
                    <div class="content-arrow">
                        <img src="../../img/arrow-right.png" alt="">
                    </div>
                    <div class="content-btn">
                        <a href="catalog.html">
                            <button>See</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="bg">
            <img src="../../img/substrack.png" alt="">
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-title">
                    <p class="title-text">Contacts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-sm-5">
                <div class="contact-info">
                    <div class="info-address">
                        <img src="../../img/map.svg" alt="">
                        <p>Regus Business Centre Bratislava s.r.o.
                            Office 126<br>
                            Karadžičova 8/A</p>
                    </div>
                    <div class="info-address">
                        <img src="../../img/phone-call.svg" alt="">
                        <p>
                            <a href="tel:+421259396110">+421 2 59 39 6110</a>
                        </p>
                    </div>
                    <div class="info-address">
                        <img src="../../img/mail.svg" alt="">
                        <p>
                            <a href="mailto:info@itterra.eu">info@itterra.eu</a>
                        </p>
                    </div>
                    <div class="info-links">
                        <a href="" class="link"><img src="../../img/instagram.svg" alt=""></a>
                        <a href="" class="link"><img src="../../img/facebook.svg" alt=""></a>
                        <a href="" class="link"><img src="../../img/youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-sm-7">
                <div class="contact-form">
                    <div class="form-input">
                        <input type="text" class="form-val" name="name" placeholder="Your name">
                    </div>
                    <div class="form-input">
                        <input type="text" class="form-val" name="email" placeholder="E-mail">
                    </div>
                    <div class="form-info">
                        <div class="form-column">
                            <div class="form-input">
                                <input type="text" class="form-val" name="company" placeholder="Company name">
                            </div>
                            <div class="form-input">
                                <input type="text" class="form-val" name="phone" placeholder="Phone number">
                            </div>
                        </div>
                        <div class="form-textarea">
                            <textarea class="form-val" name="message" placeholder="Your comment"></textarea>
                        </div>
                    </div>
                    <div class="form-policy">
                        <p>By clicking the send button you consent to the processing of your personal date.</p>
                    </div>
                    <div class="form-submit">
                        <button class="form-submit__btn">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
