<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="shopping">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="shopping-title">
                    <p class="title-text">Shopping cart</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-12 col-sm-8">
                <div class="shopping-list">
                    <div class="shopping-item">
                        <div class="row">
                            <div class="col-xl-2 col-4 col-sm-3 col-lg-2">
                                <div class="shopping-item__img">
                                    <img src="../../img/product-small.png" alt="">
                                </div>
                            </div>
                            <div class="col-xl-7 col-8 col-sm-9 col-lg-7">
                                <div class="shopping-item__content">
                                    <p class="content-title">
                                        Single-layer paper cups
                                    </p>
                                    <p class="content-category">
                                        Red paper cup
                                    </p>
                                    <div class="content-info">
                                        <p>Cup size: 100 ml</p>
                                        <p>Quantity: 20.000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-12 col-sm-12 col-lg-3">
                                <div class="shopping-item__price">
                                    <div class="price-value">
                                        <img src="../../img/euro.svg" alt="">
                                        <span>1,900.00</span>
                                    </div>
                                    <div class="shop-delete">
                                        <button>
                                            <img src="../../img/modal-close.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12 col-sm-4">
                <div class="shopping-checkout">
                    <div class="checkout-line">
                        <p class="title">Subtotal</p>
                        <p class="info">
                            <img src="../../img/euro.svg" alt="">
                            <span>1,900/00</span>
                        </p>
                    </div>
                    <div class="checkout-line">
                        <p class="title">Delivery</p>
                        <p class="info">
                            <span>free</span>
                        </p>
                    </div>
                    <div class="checkout-total">
                        <p class="title">Total (tax excl.)</p>
                        <p class="info">
                            <img src="../../img/euro.svg" alt="">
                            <span>1,900/00</span>
                        </p>
                    </div>
                    <div class="checkout-submit">
                        <a href="order.html">
                            <button class="checkout-submit__btn">
                                Go to checkout
                            </button>
                        </a>
                        <p>or <a href="pdf.html">Get a PDF offer</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="goods-alternative">
                    <div class="goods-alternative__title">
                        <p>АLTERNATIVES</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="goods-alternative">
                    <a href="#" class="goods-alternative__card">
                        <span class="card-text">
                            Round-bottomed paper
                            containers
                        </span>
                        <span class="card-img">
                            <img src="../../img/product-small.png" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="goods-alternative">
                    <a href="#" class="goods-alternative__card">
                        <span class="card-text">
                            Multi-layered corrugated
                            paper cups
                        </span>
                        <span class="card-img">
                            <img src="../../img/product-small.png" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="goods-alternative">
                    <a href="#" class="goods-alternative__card">
                        <span class="card-text">
                            Accessories for paper glasses
                        </span>
                        <span class="card-img">
                            <img src="../../img/product-small.png" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
