.wordpage{
  &-title{
    margin-top: 12px;
    .title-text{
      font-weight: bold;
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.09em;
      color: #623F27;
      text-align: center;
    }
  }
  &-img{
    margin-top: 38px;
  }
  &-content{
    margin-top: 71px;
    .swiper-slide {
      transform: scale(0.8);
      opacity: 0.5;
      transition: all 0.4s;
    }
    .swiper-slide-active{
      transform: scale(1) !important;
      opacity: 1 !important;
      transition: all 0.4s;
    }
    .wordpage-arrow_left {
      position: absolute;
      left: 31.5%;
      top: 88px;
      z-index: 50;
      cursor: pointer;
    }
    .wordpage-arrow_right {
      position: absolute;
      right: 31.5%;
      top: 88px;
      z-index: 50;
      cursor: pointer;
    }
    .swiper-slide.swiper-slide-prev {
      transform: scale(0.8);
      opacity: 0.5;
      transition: all 0.4s;
    }
    p{
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      padding-bottom: 24px;
    }
  }
  &-slider{
    margin-top: 48px;
    margin-bottom: 82px;
  }
}
.see{
  background: #BCD6B5;
  height: 150px;
  margin-top: 62px;
  &-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    .content-title{
      p{
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 0.09em;
        color: #FFFFFF;
      }
    }
    .content-arrow {
      padding-left: 27px;
      padding-right: 41px;
    }
    .content-btn{
      button{
        font-weight: normal;
        font-size: 18px;
        color: #4B8F37;
        padding: 8px 54px;
        background: #fff;
        border: 0;
        border-radius: 30px;
        transition: all 0.4s;
        &:hover{
          background: #4B8F37;
          color: #ffffff;
        }
      }
    }
  }
  + .contact + .footer{
    border-top: 1px solid #4B8F37;
  }
}
@media (min-width: 810px) and (max-width: 1050px){
  .wordpage{
    &-title{
      .title-text{
        font-size: 30px;
      }
    }
    &-img{
      margin-top: 15px;
    }
    &-content{
      margin-top: 30px;
      p{
        font-size: 13px;
        line-height: 1.3;
        padding-bottom: 15px;
      }
    }
    &-slider{
      margin-top: 20px;
      margin-bottom: 30px;
      .wordpage-arrow_left{
        left: 0;
        top: 40%;
      }
      .wordpage-arrow_right{
        top: 40%;
        right: 0;
      }
    }
  }
  .see{
    height: auto;
    margin-top: 35px;
    margin-bottom: 30px;
    &-content{
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
      .content-arrow{
        display: none;
      }
    }
    .content-title{
      padding-bottom: 10px;
      p{
        font-size: 40px;
      }
    }
  }
}
@media (max-width: 800px) {
  .wordpage{
    &-title{
      .title-text{
        font-size: 30px;
      }
    }
    &-img{
      margin-top: 15px;
    }
    &-content{
      margin-top: 30px;
      p{
        font-size: 13px;
        line-height: 1.3;
        padding-bottom: 15px;
      }
    }
    &-slider{
      margin-top: 20px;
      margin-bottom: 30px;
      .wordpage-arrow_left{
        left: 0;
        top: 40%;
      }
      .wordpage-arrow_right{
        top: 40%;
        right: 0;
      }
    }
  }
  .see{
    height: auto;
    margin-top: 35px;
    margin-bottom: 30px;
    &-content{
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
      .content-arrow{
        display: none;
      }
    }
    .content-title{
      padding-bottom: 10px;
      p{
        font-size: 40px;
      }
    }
  }
}
