.catalog{
  &-title{
    margin-top: 12px;
    .title-text{
      font-weight: bold;
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.09em;
      color: #623F27;
      text-align: center;
    }
  }
  &-list{
    margin-top: 40px;
  }
  &-card{
    display: flex;
    margin-bottom: 62px;
    border: 1px solid transparent;
    transition: all 0.4s;
    border-radius: 0;
    overflow: hidden;
    .card-img{
      flex: 1 0 auto;
    }
    &:hover{
      border-radius: 7px;
      border: 1px solid #4B8F37;
      .content-btn{
        background: #4B8F37;
        color: white;
      }
    }
  }
  &-content{
    padding: 42px 19px;
    position: relative;
    .content-title{
      font-weight: bold;
      font-size: 17px;
      line-height: 25px;
      text-transform: uppercase;
      color: #623F27;
    }
    .content-desc{
      font-weight: normal;
      font-size: 17px;
      line-height: 25px;
      color: #4F4946;
    }
    .content-btn{
      position: absolute;
      bottom: 44px;
      left: 27px;
      font-size: 18px;
      background: #fff;
      border: 1px solid #4b8f37;
      border-radius: 30px;
      color: #4b8f37;
      padding: 4px 24px;
      transition: all 0.4s;
    }
  }
  + .footer{
    border-top: 1px solid #4B8F37;
  }
}
@media (min-width: 801px) and (max-width: 1050px){
  .catalog{
    &-title{
      .title-text{
        font-size: 30px;
      }
    }
    &-card{
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      .card-img{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .catalog-content{
        width: 100%;
        padding: 19px 10px;
        .content-title{
          font-size: 15px;
        }
        .content-desc{
          font-size: 15px;
        }
        .content-btn{
          position: relative;
          left: 0;
          bottom: 0;
          margin-top: 20px;
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .catalog{
    &-title{
      .title-text{
        font-size: 30px;
      }
    }
    &-card{
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      .card-img{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .catalog-content{
        width: 100%;
        padding: 19px 10px;
        .content-title{
          font-size: 15px;
        }
        .content-desc{
          font-size: 15px;
        }
        .content-btn{
          position: relative;
          left: 0;
          bottom: 0;
          margin-top: 20px;
          font-size: 14px;
        }
      }
    }
  }
}
