.contact-page{
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 50px;
  .contact-info{
    padding-top: 100px;
    padding-bottom: 66px;
  }
  .contact-map{
    position: absolute;
    z-index: -2;
    width: 80%;
    height: 100%;
    right: 0;
    top: 0;
  }
  .bg{
    position: absolute;
    left: -377px;
    top: 0;
  }
}
.contact-us{
  background: url("../img/contact-us.jpg") center center no-repeat;
  background-size: cover;
  padding-bottom: 66px;
  &__title{
    padding-top: 3px;
    padding-left: 62px;
    p{
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;

      color: #623F27;
    }
  }
  .contact-form{
    padding-top: 32px;
    margin-right: -62px;
  }
}
@media (min-width: 801px) and (max-width: 1050px){
  .contact-page{
    margin-top: 20px;
    .contact-info{
      padding-top: 0;
      padding-bottom: 40px;
    }
    .contact-map{
      position: absolute;
      width: 55%;
      height: 100%;
      right: 0;
      top: 0;
      z-index: 5;
    }
  }
  .contact-us{
    background: #ffffff;
    padding-top: 25px;
    &__title{
      padding-left: 0;
    }
    .contact-form{
      margin-right: 0;
      .form-policy{
        width: 50%;
        order: 0;
      }
      .form-submit{
        width: 50%;
      }
    }
  }
}
@media (max-width: 800px) {
  .contact-page{
    margin-top: 20px;
    .contact-info{
      padding-top: 0;
      padding-bottom: 40px;
    }
    .contact-map{
      position: relative;
      width: 100%;
      height: 300px;
    }
  }
  .contact-us{
    background: #ffffff;
    padding-top: 25px;
    &__title{
      padding-left: 0;
    }
    .contact-form{
      margin-right: 0;
    }
  }
}
