.errorPage{
  padding-top: 213px;
  &-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__title{
      .title-text{
        font-weight: bold;
        font-size: 55px;
        line-height: 55px;
        letter-spacing: 0.09em;
        color: #623F27;
      }
    }
    &__img{
      margin-top: 42px
    }
    &__btn{
      margin-top: 68px;
      margin-bottom: 84px;
      .error-btn{
        font-size: 18px;
        line-height: 25px;
        background: #4b8f37;
        border: 1px solid #4b8f37;
        border-radius: 30px;
        color: #fff;
        padding: 4px 16px;
        transition: all 0.4s;
        &:hover{
          background: #ffffff;
          color: #4B8F37;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .errorPage{
    padding-top: 120px;
    &-content{
      &__title{
        .title-text{
          font-size: 30px;
        }
      }
      &__btn{
        margin-top: 36px;
        margin-bottom: 40px;
        .error-btn{
          font-size: 14px;
          padding: 2px 14px;
        }
      }
    }
  }
}
