.header{
  background: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #4B8F37;
  .container{
    position: relative;
  }
  .search-row__show{
    top: 0 !important;
  }
  .search-row{
    position: absolute;
    width: 100%;
    right: 0;
    top: -100%;
    background: #ffffff;
    height: 96px;
    transition: all 0.4s;
    align-items: center;
  }
  &-search__form{
    width: 100%;
    display: flex;
    align-items: center;
    button{
      margin: 0;
      background: transparent;
      border: 0;
    }
    .header-search__input{
      width: 100%;
      input{
        width: 100%;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #4B8F37;

      }
    }
  }
  &-mobileMenu{
    display: none;
  }
  &-logo{
    img{
      height: 96px;
    }
  }
  &-nav{
    display: flex;
    margin-bottom: 0;
    &__link{
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #623F27;
      margin-right: 20px;
      position: relative;
      &:after{
        background: #4B8F37;
        width: 100%;
        height: 1px;
        display: block;
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: all 0.4s;
        opacity: 0;
      }
      &:hover{
        color: #623F27;
        &:after{
          opacity: 1;
        }
      }
    }
  }
  &-phone{
    &__tel{
      font-weight: bold;
      font-size: 17px;
      line-height: 25px;
      color: #623F27;
      position: relative;
      display: flex;
      align-items: center;
      &:before{
        content: url("../img/call.svg");
        height: 21px;
        margin-right: 8px;
      }
    }
  }
  &-email{
    &__adress{
      font-weight: bold;
      font-size: 17px;
      line-height: 25px;
      color: #623F27;
      position: relative;
      display: flex;
      align-items: center;
      &:before{
        content: url("../img/email.svg");
        height: 21px;
        margin-right: 8px;
      }
    }
  }
  &-action{
    display: flex;
    justify-content: center;
  }
  &-cart{
    position: relative;
    margin-right: 14px;
    .cart-count{
      position: absolute;
      width: 20px;
      top: -6px;
      right: -10px;
      height: 20px;
      color: #ffffff;
      font-size: 12px;
      line-height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background: #FF0000;
    }
  }
}
.slider{
  position: relative;
  margin-top: 109px;
  width: 100%;
  .swiper-slide{
    height: 521px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &-content{
    padding-top: 154px;
    .content-new{
      margin-left: -28px;
    }
    .content-title{
      margin-top: 17px;
      p{
        font-size: 65px;
        line-height: 65px;
        letter-spacing: 0.09em;
        color: #FFFFFF;
      }
    }
    .content-link{
      margin-top: 29px;
      &__btn{
        font-weight: normal;
        font-size: 18px;
        color: #ffffff;
        padding: 4px 17px;
        border: 3px solid #4B8F37;
        background: transparent;
        border-radius: 30px;
        transition: all 0.4s;
        &:hover{
          background: #4B8F37;
          color: #ffffff;
        }
      }
    }
  }
  &-dots{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    z-index: 10;
    &__wrapper{
      display: flex;
      justify-content: center;
      .dots-active{
        width: 15px;
        transform: scale(1.1);
        background: #4B8F37 !important;
      }
      .dots{
        background: rgba(255, 255, 255, 0.5);
        width: 12px;
        height: 12px;
        display: block;
        content: '';
        border-radius: 100%;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}
.product{
  padding-top: 58px;
  .container{
    position: relative;
  }
  .eclips{
    position: absolute;
    top: -108px;
    right: 62px;
    transform: rotate(-3deg);
  }
  &-title{
    padding-bottom: 25px;
    text-align: center;
    p{
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.09em;
      color: #623F27;
    }
  }
  &-desc{
    text-align: center;
    p{
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #4B8F37;
    }
  }
  &-wrapper{
    display: flex;
    flex-flow: row wrap;
    margin-top: 75px;
  }
  &-item__active{
    .item-border{
      opacity: 1 !important;
    }
  }
  &-item{
    padding-bottom: 26px;
    margin-right: 66px;
    position: relative;
    cursor: pointer;
    &:hover{
      .item-border{
        opacity: 1;
      }
    }
    .item-border{
      width: 125px;
      height: 125px;
      display: block;
      content: "";
      position: absolute;
      border: 1px solid #4b8f37;
      left: -8px;
      top: -8px;
      border-radius: 100%;
      transition: all 0.4s;
      opacity: 0;
      pointer-events: none;
    }
    .item-img{
      width: 108px;
      height: 108px;
      border-radius: 100%;
      background: #FFFFFF;
      position: relative;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
      pointer-events: none;
      img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  &-content{
    padding-top: 208px;
    padding-left: 28px;
    .content-warning{
      padding-bottom: 22px;
      p{
        font-weight: 600;
        font-size: 18px;
        line-height: 115.68%;
        text-transform: uppercase;
        color: #623F27;
      }
    }
    .content-material{
      padding-bottom: 17px;
      padding-right: 87px;
      p{
        span{
          font-weight: 600;
        }
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        color: #623F27;
      }
    }
    .content-available{
      padding-right: 87px;
      p{
        span{
          font-weight: 600;
        }
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        color: #623F27;
      }
    }
    .content-more{
      padding-top: 11px;
      &__btn{
        font-size: 18px;
        color: #FFFFFF;
        padding: 1px 23px;
        border: 3px solid #4B8F37;
        background: #4B8F37;
        border-radius: 30px;
        transition: all 0.4s;
        &:hover{
          background: #ffffff;
          color: #4B8F37;
        }
      }
    }
  }
  &-simple{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 82px;
    position: relative;
    right: -52px;
    img{
      margin-top: 28px;
    }
    .simple-title{
      font-weight: bold;
      font-size: 18px;
      color: #623F27;
      text-transform: uppercase;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &-arrow{
    position: relative;
  }
  &-arr{
    position: absolute;
  }
  &-down{
    bottom: -155px;
    left: 4px;
  }
  &-up{
    bottom: -112px;
    left: 20px;
  }
}
.clients{
  &-title{
    padding-bottom: 50px;
    text-align: center;
    p{
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.09em;
      color: #623F27;
    }
  }
  &-wrapper{
    display: flex;
  }
  &-item{
    position: relative;
    flex: auto ;
    height: 493px;
    transition: all 0.4s;
    &:hover{
      flex: 0 0 100%;
      .clients-item__text{
        visibility: visible;
      }
    }
    &__img{
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
    &__text{
      position: absolute;
      bottom: 0;
      top: 0;
      margin: auto;
      left: 0;
      right: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 674px;
      visibility: hidden;
      p{
        font-weight: normal;
        font-size: 18px;
        line-height: 115.68%;
        text-align: center;
        color: #FFFFFF;
      }
    }
    &__title{
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      text-align: center;
      p{
        font-weight: 600;
        font-size: 18px;
        line-height: 115.68%;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
}
.quality{
  margin-top: 61px;
  &-title{
    padding-bottom: 52px;
    text-align: center;
    p{
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.09em;
      color: #623F27;
    }
  }
  &-desc{
    width: 594px;
    margin-left: auto;
    margin-right: auto;
    p{
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #623F27;
    }
  }
  &-tabs{
    display: flex;
    justify-content: center;
    padding-bottom: 44px;
    padding-top: 30px;
    .tab-active{
      background: #4B8F37 !important;
      color: #ffffff !important;
    }
    .tab{
      margin-left: 6px;
      margin-right: 6px;
      &-btn{
        padding: 5px 10px;
        font-size: 15px;
        color: #757575;
        border: 1px solid #4B8F37;
        box-sizing: border-box;
        border-radius: 26px;
        background: transparent;
        min-width: 138px;
      }
    }
  }
  &-video{
    position: relative;
    .video-play{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  &-left{
    display: none;
  }
  &-right{
    display: none;
  }
}
.insta{
  &-wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1.5125fr;
  }
  img{
    max-width: 100.5%;
  }
  &-small{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.advantage{
  background: #F4F4F4;
  padding-top: 39px;
  padding-bottom: 60px;
  margin-top: 58px;
  &-title{
    padding-bottom: 52px;
    text-align: center;
    p{
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.09em;
      color: #623F27;
    }
  }
  &-item{
    display: flex;
    .item-img{
      flex: 0 0 101px;
      img{
        width: 103px;
      }
    }
    .item-content{
      padding-left: 29px;
      padding-right: 0;
      .content-title{
        p{
          font-size: 18px;
          line-height: 25px;
          color: #623F27;
          span{
            width: max-content;
            position: relative;
            display: block;
            img{
              position: absolute;
              top: -10px;
              right: -15px;
            }
          }
        }
      }
      .content-desc{
        p{
          font-weight: 300;
          font-size: 15px;
          line-height: 112.18%;
          color: #4B8F37;
        }
      }
    }
  }
}
.contact{
  padding-bottom: 117px;
  padding-top: 61px;
  overflow: hidden;
  .container{
    position: relative;
  }
  .bg{
    position: absolute;
    left: 283px;
    top: -62px;
  }
  &-title{
    padding-bottom: 52px;
    text-align: center;
    p{
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.09em;
      color: #623F27;
    }
  }
  &-info{
    padding-top: 62px;
    .info-address{
      display: flex;
      margin-bottom: 31px;
      align-items: flex-start;
      padding-right: 60px;
      img{
        margin-right: 35px;
      }
      p{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #623F27;
      }
      &:nth-child(2){
        img{
          margin-top: -4px;
        }
      }
    }
    .info-links{
      margin-top: 66px;
      display: flex;
      .link{
        margin-right: 59px;
        img{
          width: 37px;
          height: 37px;
        }
      }
    }
  }
  &-form{
    display: flex;
    flex-flow: row wrap;
    padding-top: 90px;
    margin-right: -40px;
    padding-left: 54px;
    .form-input{
      flex: auto;
      margin-bottom: 14px;
      input{
        font-size: 15px;
        color: #757575;
        padding: 10px 20px;
        border: 1px solid #757575;
        box-sizing: border-box;
        border-radius: 25px;
        max-width: 292px;
        width: 100%;
        &::placeholder{
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
    .form-info{
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      .form-column{
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        flex: auto;
      }
    }
    .form-textarea{
      width: 50%;
      flex: auto;
      textarea{
        width: 100%;
        max-width: 292px;
        font-size: 15px;
        color: #757575;
        padding: 10px 20px;
        border: 1px solid #757575;
        box-sizing: border-box;
        border-radius: 25px;
        height: calc(93px + 11px);
        resize: none;
        font-family: 'Open Sans', sans-serif;
      }
    }
    .form-policy{
      width: 50%;
      margin-top: 12px;
      p{
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        color: #757575;
      }
    }
    .form-submit{
      width: 50%;
      margin-top: 12px;
      &__btn{
        font-weight: 300;
        font-size: 18px;
        color: #FFFFFF;
        max-width: 292px;
        height: 39px;
        background: #4B8F37;
        border-radius: 25px;
        width: 100%;
        border: 2px solid #4B8F37;
        transition: all 0.4s;
        &:hover{
          background: #ffffff;
          color: #4B8F37;
        }
      }
    }
  }
}
.footer{
  padding-top: 85px;
  padding-bottom: 35px;
  flex: 0 0 auto;
  border-top: 1px solid #4B8F37;
  &-logo{
    img{
      height: 122px;
    }
  }
  &-desc{
    margin-top: 19px;
    margin-bottom: 22px;
    padding-left: 25px;
    p{
      font-size: 18px;
      line-height: 113.18%;
      text-transform: uppercase;
      color: #623F27;
    }
  }
  &-social{
    padding-left: 25px;
    display: flex;
    a{
      margin-right: 40px;
    }
  }
  &-item{
    padding-left: 64px;
    &__title{
      padding-bottom: 26px;
      p{
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: #4B8F37;
      }
    }
    &__links{
      .link{
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #623F27;
        padding-bottom: 10px;
        display: block;
      }
    }
  }
  &-dev{
    display: flex;
    flex-direction: column;
    text-align: right;
    p{
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #623F27;
      padding-bottom: 22px;
      display: flex;
      justify-content: flex-end;
      a{
        padding-left: 10px;
      }
    }
    a{
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #623F27;
      padding-bottom: 22px;
      display: block;
      text-decoration-line: underline;

      span{
        text-decoration-line: underline;
        color: #4B8F37;
      }
    }
  }
}
.blocker{
  z-index: 22;
}
.advantage-modal{
  max-width: 627px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 11px;
  padding: 40px;
  position: relative;
  display: none;
  .close-modal{
    display: none !important;
  }
  .modal-close{
    position: absolute;
    right: 15px;
    top: 18px;
  }
  .modal-title{
    p{
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      text-transform: uppercase;
      color: #623F27;
    }
  }
  .modal-desc{
    padding-top: 20px;
    p{
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      color: #623F27;
    }
  }
  .modal-info{
    ul{
      li{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #623F27;
        border-bottom: 1px solid #4B8F37;
        text-transform: uppercase;
        padding-top: 12px;
        padding-bottom: 12px;
        &:nth-last-child(1){
          border-bottom: 0;
        }
      }
    }
  }
}
@media (min-width: 1051px) and (max-width: 1199px){
  .header{
    .search-row{
      height: 55px;
    }
    &-mobile__active{
      left: 0 !important;
    }
    &-mobileMenu{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      background: #ffffff;
      position: fixed;
      left:-100%;
      top: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      z-index: -1;
      padding-top: 110px;
      padding-left: 15px;
      padding-right: 15px;
      transition: all 0.4s;
    }
    &-nav{
      flex-direction: column;
      li{
        padding-bottom: 20px;
      }
    }
    &-phone{
      margin-bottom: 20px;
    }
    &-logo{
      img{
        height: 55px;
      }
    }
    &-action{
      justify-content: flex-end;
    }
    &-search{
      img{
        width: 18px;
      }
    }
    &-cart{
      margin-right: 18px;
      img{
        width: 23px;
      }
    }
    &-mobile{
      margin-left: 19px;
      &__btn{
        img{
          width: 28px;
        }
      }
    }
  }
  .slider{
    margin-top: 88px;
    .swiper-slide{
      min-height: 197px;
      height: auto;
    }
    &-dots{
      bottom: 5px;
      &__wrapper{
        .dots{
          width: 6px;
          height: 6px
        }
      }
    }
    &-content{
      padding-top: 41px;
      padding-bottom: 40px;
      .content-new{
        margin-left: -17px;
        img{
          width: 58px;
        }
      }
      .content-title{
        margin-top: 6px;
        p{
          font-size: 31px;
          line-height: 1.1;
        }
      }
      .content-link{
        margin-top: 9px;
        &__btn{
          font-weight: 300;
          font-size: 14px;
          padding: 3px 16px;
        }
      }
    }
  }
  .product{
    padding-top: 17px;
    .eclips{
      display: none;
    }
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-desc{
      padding-top: 8px;
      padding-bottom: 43px;
      p{
        font-size: 13px;
      }
    }
    &-wrapper{
      display: none;
    }
    &-content{
      display: none;
    }
    &-arrow{
      display: none;
    }
    &-simple{
      display: none;
    }
    &-link{
      width: 25%;
      float: left;
      padding-bottom: 34px;
      position: relative;
      cursor: pointer;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .item-title{
        font-weight: 600;
        font-size: 13px;
        line-height: 25px;
        color: #623F27;
        text-transform: uppercase;
        padding-top: 14px;
      }
      .item-img{
        width: 108px;
        height: 108px;
        border-radius: 100%;
        background: #FFFFFF;
        position: relative;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        pointer-events: none;
        img{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
  .clients{
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-wrapper{
      flex-direction: row;
      padding-top: 16px;
    }
    &-item{
      height: 289px;
      margin-bottom: 8px;
      &__img{
        height: 100%;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      &__text{
        display: none;
      }
      &__title{
        bottom: 16px;
        p{
          font-size: 13px;
        }
      }
    }
  }
  .quality{
    margin-top: 14px;
    &-wrapper{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    &-left{
      display: block;
      width: 14%;
      text-align: left;
    }
    &-right{
      display: block;
      width: 14%;
      text-align: right;
    }
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-desc{
      width: auto;
      margin-top: 12px;
      padding-left: 11px;
      padding-right: 11px;
      p{
        line-height: 1.45;
        font-size: 13px;
      }
    }
    &-tabs{
      padding-bottom: 28px;
      padding-top: 24px;
      width: 72%;
      justify-content: center;
      overflow: hidden;
      .tab-btn{
        font-size: 11px;
      }
    }
    &-video{
      margin-bottom: 9px;
    }
  }
  .advantage{
    margin-top: 14px;
    padding-top: 10px;
    padding-bottom: 0;
    background: #ffffff;
    &-title{
      padding-bottom: 0;
      margin-bottom: 20px;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-item{
      margin-bottom: 24px;
      .item-img{
        flex: 0 0 55px;
      }
      .item-content{
        padding-left: 15px;
        .content-title{
          p{
            font-size: 13px;
            line-height: 28px;
          }
        }
        .content-desc{
          p{
            font-size: 10px;
            line-height: 1.4
          }
        }
      }
    }
  }
  .contact{
    margin-top: -6px;
    padding-top: 0;
    padding-bottom: 17px;
    .bg{
      display: none;
    }
    &-info{
      padding-top: 4px;
      .info-links{
        margin-top: 25px;
        display: flex;
        justify-content: center;
        .link{
          margin-right: 0;
          &:nth-child(2){
            margin-right: 25px;
            margin-left: 25px;
          }
          img{
            width: 28px;
            height: 28px;
          }
        }
      }
    }
    &-form{
      padding-top: 10px;
      margin-right: 0;
      padding-left: 0;
      .form-input{
        margin-bottom: 3px;
        padding: 4px;
        input{
          max-width: 100%;
          font-size: 12px;
        }
      }
      .form-textarea{
        padding: 4px;
        textarea{
          max-width: 100%;
          font-size: 12px;
          height: 90px;
        }
      }
      .form-policy{
        width: 100%;
        order: 5;
        margin-top: 10px;
        p{
          font-size: 13px;
        }
      }
      .form-submit{
        width: 100%;
        margin-top: 4px;
        button{
          max-width: 100%;
          font-size: 14px;
          height: 33px;
        }
      }
    }
    .info-address{
      padding-left: 5px;
      padding-right: 0;
      margin-bottom: 8px;
      img{
        width: 20px;
        margin-right: 19px;
      }
      p{
        font-size: 13px;
      }
    }
    &-title{
      padding-bottom: 0;
      margin-bottom: 20px;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
  }
  .footer{
    padding-top: 18px;
    padding-bottom: 37px;
    &-dev{
      p{
        font-size: 11px;
        line-height: 14px;
      }
      a{
        font-size: 11px;
        line-height: 14px;
        padding-bottom: 0;
      }
    }
    &-logo{
      img{
        height: 83px;
      }
    }
    &-item{
      padding-top: 10px;
      padding-left: 0;
      &__title{
        padding-bottom: 0;
        p{
          font-size: 17px;
        }
      }
      &__links{
        .link{
          font-weight: 300;
          font-size: 11px;
          line-height: 14px;
          color: #623f27;
          padding-bottom: 15px;
          display: block;
          padding-right: 26px;
        }
      }
    }
    &-desc{
      display: none;
    }
    &-social{
      display: none;
    }
  }
  .advantage-modal{
    padding: 20px;
    .modal-title{
      p{
        font-size: 15px;
      }
    }
    .modal-desc{
      padding-top: 10px;
      p{
        font-size: 12px;
        line-height: 1.3;

      }
    }
    .modal-info{
      ul{
        li{
          font-size: 13px;
          padding-top: 6px;
          padding-bottom: 6px;
          line-height: 1.2;
        }
      }
    }
  }
  .arrow-up{
    right: 0;
    bottom: 0;
  }
}
@media (min-width: 801px) and (max-width: 1050px){
  .header{
    .search-row{
      height: 55px;
    }
    &-mobile__active{
      left: 0 !important;
    }
    &-mobileMenu{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      background: #ffffff;
      position: fixed;
      left:-100%;
      top: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      z-index: -1;
      padding-top: 110px;
      padding-left: 15px;
      padding-right: 15px;
      transition: all 0.4s;
    }
    &-nav{
      flex-direction: column;
      li{
        padding-bottom: 20px;
      }
    }
    &-phone{
      margin-bottom: 20px;
    }
    &-logo{
      img{
        height: 55px;
      }
    }
    &-action{
      justify-content: flex-end;
    }
    &-search{
      img{
        width: 18px;
      }
    }
    &-cart{
      margin-right: 18px;
      img{
        width: 23px;
      }
    }
    &-mobile{
      margin-left: 19px;
      &__btn{
        img{
          width: 28px;
        }
      }
    }
  }
  .slider{
    margin-top: 88px;
    .swiper-slide{
      min-height: 197px;
      height: auto;
    }
    &-dots{
      bottom: 5px;
      &__wrapper{
        .dots{
          width: 6px;
          height: 6px
        }
      }
    }
    &-content{
      padding-top: 41px;
      padding-bottom: 40px;
      .content-new{
        margin-left: -17px;
        img{
          width: 58px;
        }
      }
      .content-title{
        margin-top: 6px;
        p{
          font-size: 31px;
          line-height: 1.1;
        }
      }
      .content-link{
        margin-top: 9px;
        &__btn{
          font-weight: 300;
          font-size: 14px;
          padding: 3px 16px;
        }
      }
    }
  }
  .product{
    padding-top: 17px;
    .eclips{
      display: none;
    }
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-desc{
      padding-top: 8px;
      padding-bottom: 43px;
      p{
        font-size: 13px;
      }
    }
    &-wrapper{
      display: none;
    }
    &-content{
      display: none;
    }
    &-arrow{
      display: none;
    }
    &-simple{
      display: none;
    }
    &-link{
      width: 25%;
      float: left;
      padding-bottom: 34px;
      position: relative;
      cursor: pointer;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .item-title{
        font-weight: 600;
        font-size: 13px;
        line-height: 25px;
        color: #623F27;
        text-transform: uppercase;
        padding-top: 14px;
      }
      .item-img{
        width: 108px;
        height: 108px;
        border-radius: 100%;
        background: #FFFFFF;
        position: relative;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        pointer-events: none;
        img{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
  .clients{
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-wrapper{
      flex-direction: column;
      padding-top: 16px;
    }
    &-item{
      height: 188px;
      margin-bottom: 8px;
      &__img{
        height: 100%;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      &__text{
        display: none;
      }
      &__title{
        bottom: 16px;
        p{
          font-size: 13px;
        }
      }
    }
  }
  .quality{
    margin-top: 14px;
    &-wrapper{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    &-left{
      display: block;
      width: 14%;
      text-align: left;
    }
    &-right{
      display: block;
      width: 14%;
      text-align: right;
    }
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-desc{
      width: auto;
      margin-top: 12px;
      padding-left: 11px;
      padding-right: 11px;
      p{
        line-height: 1.45;
        font-size: 13px;
      }
    }
    &-tabs{
      padding-bottom: 28px;
      padding-top: 24px;
      width: 72%;
      justify-content: center;
      overflow: hidden;
      .tab-btn{
        font-size: 11px;
      }
    }
    &-video{
      margin-bottom: 9px;
    }
  }
  .advantage{
    margin-top: 14px;
    padding-top: 10px;
    padding-bottom: 0;
    background: #ffffff;
    &-title{
      padding-bottom: 0;
      margin-bottom: 20px;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-item{
      margin-bottom: 24px;
      .item-img{
        flex: 0 0 55px;
      }
      .item-content{
        padding-left: 15px;
        .content-title{
          p{
            font-size: 13px;
            line-height: 28px;
          }
        }
        .content-desc{
          p{
            font-size: 10px;
            line-height: 1.4
          }
        }
      }
    }
  }
  .contact{
    margin-top: -6px;
    padding-top: 0;
    padding-bottom: 17px;
    .bg{
      display: none;
    }
    &-info{
      padding-top: 4px;
      .info-links{
        margin-top: 25px;
        display: flex;
        justify-content: center;
        .link{
          margin-right: 0;
          &:nth-child(2){
            margin-right: 25px;
            margin-left: 25px;
          }
          img{
            width: 28px;
            height: 28px;
          }
        }
      }
    }
    &-form{
      padding-top: 10px;
      margin-right: 0;
      padding-left: 0;
      .form-input{
        margin-bottom: 3px;
        padding: 4px;
        input{
          max-width: 100%;
          font-size: 12px;
        }
      }
      .form-textarea{
        padding: 4px;
        textarea{
          max-width: 100%;
          font-size: 12px;
          height: 90px;
        }
      }
      .form-policy{
        width: 100%;
        order: 5;
        margin-top: 10px;
        p{
          font-size: 13px;
        }
      }
      .form-submit{
        width: 100%;
        margin-top: 4px;
        button{
          max-width: 100%;
          font-size: 14px;
          height: 33px;
        }
      }
    }
    .info-address{
      padding-left: 5px;
      padding-right: 0;
      margin-bottom: 8px;
      img{
        width: 20px;
        margin-right: 19px;
      }
      p{
        font-size: 13px;
      }
    }
    &-title{
      padding-bottom: 0;
      margin-bottom: 20px;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
  }
  .footer{
    padding-top: 18px;
    padding-bottom: 37px;
    &-dev{
      p{
        font-size: 11px;
        line-height: 14px;
      }
      a{
        font-size: 11px;
        line-height: 14px;
        padding-bottom: 0;
      }
    }
    &-logo{
      img{
        height: 83px;
      }
    }
    &-item{
      padding-top: 10px;
      padding-left: 0;
      &__title{
        padding-bottom: 0;
        p{
          font-size: 17px;
        }
      }
      &__links{
        .link{
          font-weight: 300;
          font-size: 11px;
          line-height: 14px;
          color: #623f27;
          padding-bottom: 15px;
          display: block;
          padding-right: 26px;
        }
      }
    }
    &-desc{
      display: none;
    }
    &-social{
      display: none;
    }
  }
  .advantage-modal{
    padding: 20px;
    .modal-title{
      p{
        font-size: 15px;
      }
    }
    .modal-desc{
      padding-top: 10px;
      p{
        font-size: 12px;
        line-height: 1.3;

      }
    }
    .modal-info{
      ul{
        li{
          font-size: 13px;
          padding-top: 6px;
          padding-bottom: 6px;
          line-height: 1.2;
        }
      }
    }
  }
  .arrow-up{
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 800px) {

  .header{
    &-mobile__active{
      left: 0 !important;
    }
    &-mobileMenu{
      display: flex;
      background: #ffffff;
      position: fixed;
      left:-100%;
      top: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      z-index: -1;
      padding-top: 110px;
      padding-left: 15px;
      padding-right: 15px;
      transition: all 0.4s;
    }
    &-nav{
      flex-direction: column;
      li{
        padding-bottom: 20px;
      }
    }
    &-phone{
      margin-bottom: 20px;
    }
    &-logo{
      img{
        height: 77px;
        object-fit: cover;
      }
    }
    &-action{
      justify-content: flex-end;
    }
    &-search{
      img{
        width: 18px;
      }
    }
    &-cart{
      margin-right: 18px;
      img{
        width: 23px;
      }
    }
    &-mobile{
      margin-left: 19px;
      &__btn{
        img{
          width: 28px;
        }
      }
    }
  }
  .slider{
    .swiper-slide{
      min-height: 197px;
      height: auto;
    }
    &-dots{
      bottom: 5px;
      &__wrapper{
        .dots{
          width: 6px;
          height: 6px
        }
      }
    }
    &-content{
      padding-top: 41px;
      .content-new{
        margin-left: -17px;
        img{
          width: 58px;
        }
      }
      .content-title{
        margin-top: 6px;
        p{
          font-size: 25px;
          line-height: 1.1;
        }
      }
      .content-link{
        margin-top: 9px;
        &__btn{
          font-weight: 300;
          font-size: 14px;
          padding: 3px 16px;
        }
      }
    }
  }
  .product{
    padding-top: 17px;
    .eclips{
      display: none;
    }
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-desc{
      padding-top: 8px;
      padding-bottom: 43px;
      p{
        font-size: 13px;
      }
    }
    &-wrapper{
      display: none;
    }
    &-content{
      display: none;
    }
    &-arrow{
      display: none;
    }
    &-simple{
      display: none;
    }
    &-link{
      width: 25%;
      float: left;
      padding-bottom: 34px;
      position: relative;
      cursor: pointer;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .item-title{
        font-weight: 600;
        font-size: 13px;
        line-height: 25px;
        color: #623F27;
        text-transform: uppercase;
        padding-top: 14px;
      }
      .item-img{
        width: 108px;
        height: 108px;
        border-radius: 100%;
        background: #FFFFFF;
        position: relative;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        pointer-events: none;
        img{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
  .clients{
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-wrapper{
      flex-direction: column;
      padding-top: 16px;
    }
    &-item{
      height: 188px;
      margin-bottom: 8px;
      &__img{
        height: 100%;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      &__text{
        display: none;
      }
      &__title{
        bottom: 16px;
        p{
          font-size: 13px;
        }
      }
    }
  }
  .quality{
    margin-top: 14px;
    &-wrapper{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    &-left{
      display: block;
      width: 14%;
      text-align: left;
    }
    &-right{
      display: block;
      width: 14%;
      text-align: right;
    }
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-desc{
      width: auto;
      margin-top: 12px;
      padding-left: 11px;
      padding-right: 11px;
      p{
        line-height: 1.45;
        font-size: 13px;
      }
    }
    &-tabs{
      padding-bottom: 28px;
      padding-top: 24px;
      width: 72%;
      justify-content: center;
      overflow: hidden;
      .tab-btn{
        font-size: 11px;
      }
    }
    &-video{
      margin-bottom: 9px;
    }
  }
  .advantage{
    margin-top: 14px;
    padding-top: 10px;
    padding-bottom: 0;
    background: #ffffff;
    &-title{
      padding-bottom: 0;
      margin-bottom: 20px;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-item{
      margin-bottom: 24px;
      .item-img{
        flex: 0 0 55px;
      }
      .item-content{
        padding-left: 15px;
        .content-title{
          p{
            font-size: 13px;
            line-height: 28px;
          }
        }
        .content-desc{
          p{
            font-size: 10px;
            line-height: 1.4
          }
        }
      }
    }
  }
  .contact{
    margin-top: -6px;
    padding-top: 0;
    padding-bottom: 17px;
    .bg{
      display: none;
    }
    &-info{
      padding-top: 4px;
      .info-links{
        margin-top: 25px;
        display: flex;
        justify-content: center;
        .link{
          margin-right: 0;
          &:nth-child(2){
            margin-right: 25px;
            margin-left: 25px;
          }
          img{
            width: 28px;
            height: 28px;
          }
        }
      }
    }
    &-form{
      padding-top: 10px;
      margin-right: 0;
      padding-left: 0;
      .form-input{
        margin-bottom: 3px;
        input{
          max-width: 100%;
        }
      }
      .form-textarea{
        textarea{
          max-width: 100%;
        }
      }
      .form-policy{
        width: 100%;
        order: 5;
        margin-top: 10px;
        p{
          font-size: 13px;
        }
      }
      .form-submit{
        width: 100%;
        margin-top: 4px;
        button{
          max-width: 100%;
        }
      }
    }
    .info-address{
      padding-left: 5px;
      padding-right: 0;
      margin-bottom: 8px;
      img{
        width: 20px;
        margin-right: 19px;
      }
      p{
        font-size: 13px;
      }
    }
    &-title{
      padding-bottom: 0;
      margin-bottom: 20px;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
  }
  .footer{
    padding-top: 18px;
    padding-bottom: 37px;
    &-dev{
      p{
        font-size: 11px;
        line-height: 14px;
      }
      a{
        font-size: 11px;
        line-height: 14px;
        padding-bottom: 0;
      }
    }
    &-logo{
      img{
        height: 83px;
      }
    }
    &-item{
      padding-top: 10px;
      padding-left: 0;
      &__title{
        padding-bottom: 0;
        p{
          font-size: 17px;
        }
      }
      &__links{
        .link{
          font-weight: 300;
          font-size: 11px;
          line-height: 14px;
          color: #623f27;
          padding-bottom: 15px;
          display: block;
          padding-right: 26px;
        }
      }
    }
    &-desc{
      display: none;
    }
    &-social{
      display: none;
    }
  }
  .advantage-modal{
    padding: 20px;
    .modal-title{
      p{
        font-size: 15px;
      }
    }
    .modal-desc{
      padding-top: 10px;
      p{
        font-size: 12px;
        line-height: 1.3;

      }
    }
    .modal-info{
      ul{
        li{
          font-size: 13px;
          padding-top: 6px;
          padding-bottom: 6px;
          line-height: 1.2;
        }
      }
    }
  }
  .arrow-up{
    right: 0;
    bottom: 0;
  }

}
@media (max-width: 600px) {

  .header{
    &-mobile__active{
      left: 0 !important;
    }
    .header-search__input{
      width: 77%;
    }
    .search-row{
      height: 64px;
    }
    &-mobileMenu{
      display: flex;
      background: #ffffff;
      position: fixed;
      left:-100%;
      top: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      z-index: -1;
      padding-top: 110px;
      padding-left: 15px;
      padding-right: 15px;
      transition: all 0.4s;
    }
    &-nav{
      flex-direction: column;
      li{
        padding-bottom: 20px;
      }
    }
    &-phone{
      margin-bottom: 20px;
    }
    &-logo{
      img{
        height: 64px;
      }
    }
    &-action{
      justify-content: flex-end;
    }
    &-search{
      img{
        width: 18px;
      }
    }
    &-cart{
      margin-right: 18px;
      img{
        width: 23px;
      }
    }
    &-mobile{
      margin-left: 19px;
      &__btn{
        img{
          width: 28px;
        }
      }
    }
  }
  .slider{
    margin-top: 96px;
    .swiper-slide{
      min-height: 197px;
      height: auto;
    }
    &-dots{
      bottom: 5px;
      &__wrapper{
        .dots{
          width: 6px;
          height: 6px
        }
      }
    }
    &-content{
      padding-top: 41px;
      .content-new{
        margin-left: -17px;
        img{
          width: 58px;
        }
      }
      .content-title{
        margin-top: 6px;
        p{
          font-size: 25px;
          line-height: 1.1;
        }
      }
      .content-link{
        margin-top: 9px;
        &__btn{
          font-weight: 300;
          font-size: 14px;
          padding: 3px 16px;
        }
      }
    }
  }
  .product{
    padding-top: 17px;
    .eclips{
      display: none;
    }
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-desc{
      padding-top: 8px;
      padding-bottom: 43px;
      p{
        font-size: 13px;
      }
    }
    &-wrapper{
      display: none;
    }
    &-content{
      display: none;
    }
    &-arrow{
      display: none;
    }
    &-simple{
      display: none;
    }
    &-link{
      width: 50%;
      padding-bottom: 34px;
      position: relative;
      cursor: pointer;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .item-title{
        font-weight: 600;
        font-size: 13px;
        line-height: 25px;
        color: #623F27;
        text-transform: uppercase;
        padding-top: 14px;
      }
      .item-img{
        width: 108px;
        height: 108px;
        border-radius: 100%;
        background: #FFFFFF;
        position: relative;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        pointer-events: none;
        img{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
  .clients{
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-wrapper{
      flex-direction: column;
      padding-top: 16px;
    }
    &-item{
      height: 188px;
      margin-bottom: 8px;
      &__img{
        height: 100%;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      &__text{
        display: none;
      }
      &__title{
        bottom: 16px;
        p{
          font-size: 13px;
        }
      }
    }
  }
  .quality{
    margin-top: 14px;
    &-wrapper{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    &-left{
      display: block;
      width: 14%;
    }
    &-right{
      display: block;
      width: 14%;
    }
    &-title{
      padding-bottom: 0;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-desc{
      width: auto;
      margin-top: 12px;
      padding-left: 11px;
      padding-right: 11px;
      p{
        line-height: 1.45;
        font-size: 13px;
      }
    }
    &-tabs{
      padding-bottom: 28px;
      padding-top: 24px;
      width: 72%;
      justify-content: center;
      overflow: hidden;
      .tab-btn{
        font-size: 11px;
      }
    }
    &-video{
      margin-bottom: 9px;
    }
  }
  .advantage{
    margin-top: 14px;
    padding-top: 10px;
    padding-bottom: 0;
    background: #ffffff;
    &-title{
      padding-bottom: 0;
      margin-bottom: 20px;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
    &-item{
      margin-bottom: 24px;
      .item-img{
        flex: 0 0 82px;
      }
      .item-content{
        padding-left: 23px;
        .content-title{
          p{
            font-size: 15px;
            line-height: 28px;
          }
        }
        .content-desc{
          p{
            font-size: 13px;
            line-height: 1.4
          }
        }
      }
    }
  }
  .contact{
    margin-top: -6px;
    padding-top: 0;
    padding-bottom: 17px;
    .bg{
      display: none;
    }
    &-info{
      padding-top: 4px;
      .info-links{
        margin-top: 25px;
        display: flex;
        justify-content: center;
        .link{
          margin-right: 0;
          &:nth-child(2){
            margin-right: 25px;
            margin-left: 25px;
          }
          img{
            width: 28px;
            height: 28px;
          }
        }
      }
    }
    &-form{
      padding-top: 61px;
      margin-right: 0;
      padding-left: 0;
      .form-input{
        margin-bottom: 3px;
        input{
          max-width: 100%;
        }
      }
      .form-column{
        width: 100%;
      }
      .form-textarea{
        width: 100%;
        textarea{
          max-width: 100%;
        }
      }
      .form-policy{
        width: 100%;
        order: 5;
        margin-top: 10px;
        p{
          font-size: 13px;
        }
      }
      .form-submit{
        width: 100%;
        margin-top: 4px;
        button{
          max-width: 100%;
        }
      }
    }
    .info-address{
      padding-left: 5px;
      padding-right: 0;
      margin-bottom: 8px;
      img{
        width: 20px;
        margin-right: 19px;
      }
      p{
        font-size: 13px;
      }
    }
    &-title{
      padding-bottom: 0;
      margin-bottom: 20px;
      p{
        font-size: 25px;
        line-height: 1;
      }
    }
  }
  .insta{
    &-wrapper{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    &-small{
      grid-template-columns: 1fr 1fr;
    }
  }
  .footer{
    padding-top: 18px;
    padding-bottom: 37px;
    &-dev{
      a{
        font-size: 11px;
        line-height: 14px;
        padding-bottom: 0;
      }
    }
    &-logo{
      img{
        height: 83px;
      }
    }
    &-item{
      padding-top: 10px;
      &__title{
        padding-bottom: 0;
        p{
          font-size: 17px;
        }
      }
      &__links{
        .link{
          font-weight: 300;
          font-size: 11px;
          line-height: 14px;
          color: #623f27;
          padding-bottom: 15px;
          display: block;
          padding-right: 26px;
        }
      }
    }
    &-desc{
      display: none;
    }
    &-social{
      display: none;
    }
  }
  .advantage-modal{
    padding: 20px;
    .modal-title{
      p{
        font-size: 15px;
      }
    }
    .modal-desc{
      padding-top: 10px;
      p{
        font-size: 12px;
        line-height: 1.3;

      }
    }
    .modal-info{
      ul{
        li{
          font-size: 13px;
          padding-top: 6px;
          padding-bottom: 6px;
          line-height: 1.2;
        }
      }
    }
  }

}
