.order-page{
  &__steps{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 38px;
    .step-1.active{
      .step-num{
        border: 2px solid #4B8F37;
        color: #4B8F37;
      }
      .step-line{
        background: #4B8F37;
      }
      .step-text{
        color: #4B8F37;
      }
    }
    .step-2.active{
      .step-num{
        border: 2px solid #4B8F37;
        color: #4B8F37;
      }
      .step-text{
        color: #4B8F37;
      }
    }
    .step-3.active{
      .step-num{
        border: 2px solid #4B8F37;
        color: #4B8F37;
      }
      .step-text{
        color: #4B8F37;
      }
    }
    .step-3{
      .step-num{
        margin-right: 0;
      }
    }
    .step{
      &:nth-last-child(1){
        margin-right: 0 !important;
      }
      &-num{
        font-size: 30px;
        color: #757575;
        width: 57px;
        height: 57px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #757575;
        border-radius: 100px;
        margin-right: 115px;
      }
      &-line{
        width: 115px;
        height: 3px;
        display: block;
        content: '';
        background: #757575;
        position: absolute;
        left: 55px;
      }
      .step-text{
        width: 80px;
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        color: #623F27;
        padding-top: 19px;
        margin-left: -12px;
      }
    }
  }
  &__form{
    padding-right: 37px;
    padding-top: 67px;
    .form-check{
      cursor: pointer;
      input[type="checkbox"]:checked + label{
        span{
          background: #4B8F37;
        }
      }
      span{
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border: 1px solid #757575;
        box-sizing: border-box;
        border-radius: 2px;
        float: left;
        position: relative;
        &:before{
          content: url("../img/check.png");
          position: absolute;
          left: 0;
          top: -2px;
          bottom: 0;
          right: 0;
          margin: auto;
        }
      }
      p{
        float: left;
        font-size: 18px;
        color: #623F27;
        padding-left: 17px;
      }
    }
    .form-item{
      .item-label{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #623F27;
        padding-bottom: 18px;
      }
      .select-field{
        &:after{
          content: url("../img/select.png");
          position: absolute;
          z-index: 20;
          right: 10px;
          top: 11px;
          pointer-events: none;
        }
      }
      .item-field{
        position: relative;
        padding-bottom: 15px;
        .input-info{
          position: absolute;
          right: 14px;
          z-index: 10;
          top: 13px;
        }
        .item-input{
          border: 1px solid #757575;
          box-sizing: border-box;
          border-radius: 25px;
          background: #ffffff;
          color: #757575;
          padding: 10px 19px;
          width: 100%;
          &::placeholder{
            color: #757575;
          }
        }
      }
    }
    .form-continue{
      margin-top: 53px;
      margin-bottom: 79px;
      button{
        font-size: 18px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        width: 295px;
        height: 40px;
        background: #4B8F37;
        border-radius: 23px;
        border: 0;
        img{
          margin-left: 12px;
        }
      }
    }
  }
  &__card{
    border: 1px solid #4B8F37;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 21px 30px;
    margin-top: 78px;
    margin-left: -19px;
    margin-right: -24px;
    .shopping-list{
      margin-top: 0;
      margin-right: 0;
    }
    .shopping-item{
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 0;
      border-top: 0;
      &__content{
        .content-title{
          text-transform: none;
        }
      }
    }
    .shopping-checkout {
      border: 0;
      padding: 0;
      position: relative;
      right: 0;
      width: 100%;
      margin-top: 34px;
      &:before{
        width: 100%;
        height: 1px;
        background: #4b8f37;
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: -17px;
      }
      .checkout-total{
        border-top: 0;
        padding-top: 0;
      }
      .checkout-line{
        .title{
          font-weight: normal;
        }
      }
    }
  }
  &__promo{
    .promo-hide{
      display: none;
    }
    p{
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #4F4946;
      padding-top: 6px;
      cursor: pointer;
    }
    input[type="checkbox"]:checked{
      + label + .promo-form{
        display: flex !important;
      }
      + label .promo-hide{
        display: block !important;
      }
      + label  .promo-show{
        display: none;
      }
    }
    .promo-form{
      justify-content: center;
      display: none;
      margin-top: 15px;
      input{
        border: 1px solid #757575;
        box-sizing: border-box;
        border-radius: 25px;
        background: #ffffff;
        color: #757575;
        padding: 8px 19px;
        font-size: 18px;
        &::placeholder{
          color: #757575;
        }
      }
      button{
        background: #4B8F37;
        color: #ffffff;
        padding: 8px 19px;
        font-size: 18px;
        border: 1px solid #4B8F37;
        border-radius: 25px;
        margin-left: 5px;
      }
    }
  }
  &__payment{
    padding-right: 37px;
    padding-top: 67px;
    .form-item{
      .item-label{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #623F27;
        padding-bottom: 18px;
      }
    }
    .payment-list{
      margin-top: 15px;
    }
    .payment-item{
      padding-bottom: 16px;
      label{
        display: flex;
        align-items: center;
      }
      input:checked + label{
        span{
          &:before{
            background: #4B8F37;
          }
        }
      }
      span{
        width: 19px;
        height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: 1px solid #757575;
        box-sizing: border-box;
        border-radius: 50px;
        &:before{
          width: 13px;
          height: 13px;
          display: block;
          content: '';
          background: #ffffff;
          margin: auto;
          border-radius: 50px;
        }
      }
      p{
        font-weight: normal;
        font-size: 15px;
        padding-left: 14px;
        color: #623F27;
      }
    }
    .payment-check{
      cursor: pointer;
      position: relative;
      margin-top: 25px;
      &:before{
        width: 603px;
        height: 1px;
        position: absolute;
        left: 0;
        top: -15px;
        display: block;
        content: '';
        background: #757575;
      }
      input[type="checkbox"]:checked + label{
        span{
          background: #4B8F37;
        }
      }
      span{
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border: 1px solid #757575;
        box-sizing: border-box;
        border-radius: 2px;
        float: left;
        position: relative;
        &:before{
          content: url("../img/check.png");
          position: absolute;
          left: 0;
          top: -2px;
          bottom: 0;
          right: 0;
          margin: auto;
        }
      }
      p{
        float: left;
        font-size: 18px;
        color: #623F27;
        padding-left: 17px;
      }
    }
    .payment-btn{
      margin-top: 36px;
      margin-bottom: 103px;
      button{
        font-size: 18px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        width: 295px;
        height: 40px;
        background: #4B8F37;
        border-radius: 23px;
        border: 0;
        img{
          margin-left: 12px;
        }
      }
    }
  }
  &__title{
    margin-top: 54px;
    p{
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: #623F27;
    }
  }
  &__confirm{
    border: 1px solid #757575;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 22px;
    margin-top: 22px;
    margin-bottom: 66px;
    .confirm-item{
      padding: 20px;
    }
    .shopping-item{
      &__content{
        .content-title{
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #623F27;
          text-transform: none;
        }
        .content-info{
          padding-top: 0;
        }
      }
      &__price{
        justify-content: flex-end;
        padding-top: 0;
        position: relative;
        right: 0;
        .price-value{
          margin-right: 0;
        }
      }
    }
    .confirm-checkout{
      position: relative;
      width: 100%;
      padding: 20px;
      position: relative;
      &:before{
        width: 100%;
        height: 1px;
        background: #757575;
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
      }
      .checkout-total{
        margin-top: 4px;
      }

      .checkout-line,
      .checkout-total{
        display: flex;
        padding-bottom: 7px;
        justify-content: space-between;
        .title{
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #623F27;
        }
        .info{
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #623F27;
          display: flex;
          align-items: center;
          span{
            padding-left: 9px;
          }
        }
      }
      .checkout-total{
        .title{
          font-weight: 600;
        }
      }
    }
    .confirm-details{
      padding: 20px;
      position: relative;
      &:before{
        width: 100%;
        height: 1px;
        background: #757575;
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
      }
      .details-title{
        padding-bottom: 14px;
        p{
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;color: #623F27;
        }
      }
      .details-item{
        padding-bottom: 9px;
        p{
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #623F27;
        }
      }
    }
  }
}
@media (max-width: 800px){
  .order-page{
    &__steps{
      zoom: 0.8;
    }
    &__form{
      padding-right: 0;
      padding-top: 30px;
      .form-item{
        .item-label{
          font-size: 15px;
        }
      }
      .form-continue{
        margin-top: 25px;
        margin-bottom: 45px;
        button{
          font-size: 15px;
          width: 215px;
        }
      }
    }
    &__card{
      margin-left: 0;
      margin-right: 0;
      margin-top: 40px;
      .shopping-checkout{
        .checkout-line{
          padding-bottom: 0;
        }
      }
    }
    &__promo{
      p{
        font-size: 15px;
      }
      .promo-form{
        input,button{
          font-size: 15px;
        }
      }
    }
    &__payment{
      padding-right: 0;
      padding-top: 30px;
      .payment-btn{
        button{
          font-size: 15px;
          width: 243px;
        }
      }
      .payment-check{
        p{
          font-size: 12px;
        }
      }
    }
    &__confirm{
      .confirm-item{
        .shopping-item__price{
          .price-value{
            span{
              font-size: 15px;
            }
          }
        }
        .shopping-item__content{
          .content-title{
            font-size: 15px !important;
            line-height: 1.1 !important;
          }
        }
      }
      .confirm-checkout{
        p{
          font-size: 15px !important;
        }
        .checkout-line{
          padding-bottom: 0;
        }
      }
      .confirm-details{
        .details-title{
          p{
            font-size: 15px
          }
        }
        .details-item{
          p{
            font-size: 15px;
            line-height: 1.2;
          }
        }
      }
    }
  }
}
