.pdf{
  padding-top: 168px;
  &-title{
    text-align: center;
    .title-text{
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.09em;
      color: #623F27;
    }
  }
  &-desc{
    text-align: center;
    padding-top: 23px;
    p{
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #623F27;
    }
  }
  &-list__title{
    padding-top: 51px;
    p{
      font-weight: bold;
      font-size: 18px;
      line-height: 115.68%;
      text-transform: uppercase;
      color: #623F27;
    }
  }
  .shopping-list{
    margin-top: 30px;
    margin-right: 0;
    .shopping-item__price{
      justify-content: flex-end;
    }
  }
  &-add{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    a{
      font-weight: normal;
      font-size: 15px;
      color: #757575;
    }
    img{
      margin-left: 8px;
    }
  }
  .advantage-list {
    margin-top: 138px;
    margin-left: 69px;
  }
  .advantage-item{
    margin-bottom: 37px;
  }
  .form-continue{
    margin-top: 0px;
    margin-bottom: 119px;
    button{
      width: 100%;
      font-weight: 300;
    }
  }
}
@media (max-width:800px) {
  .pdf .advantage-list {
    margin-top: 0;
    margin-left: 0;
  }
  .pdf .form-continue{
    margin-bottom: 60px;
  }
}
