.production{
  &-title{
    margin-top: 12px;
    .title-text{
      font-weight: bold;
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.09em;
      color: #623F27;
      text-align: center;
    }
  }
  &-slider{
    position: relative;
    margin-top: 30px;
  }
  .swiper-slide{
    iframe{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: none;
    }
  }
  &-slide{
    height: 617px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-dots{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    z-index: 10;
    &__wrapper{
      display: flex;
      justify-content: center;
      .dots-active{
        width: 15px;
        transform: scale(1.1);
        background: #4B8F37 !important;
      }
      .dots{
        background: rgba(255, 255, 255, 0.5);
        width: 12px;
        height: 12px;
        display: block;
        content: '';
        border-radius: 100%;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
  &-content{
    margin-top: 65px;
    .content-info{
      text-align: center;
      .info-title{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #623F27;
      }
      .info-desc{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #000000;
        padding-bottom: 46px;
        padding-top: 30px;
        padding-left: 33px;
        padding-right: 33px;
      }
    }
  }
  &-tabs{
    display: flex;
    justify-content: center;
    margin-top: 23px;
    .tab-btn__active{
      background: #4B8F37 !important;
      color: #ffffff !important;
    }
    .tab-btn{
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: #623F27;
      padding: 4px 33px;
      border: 1px solid #4b8f37;
      background: #fff;
      border-radius: 25px;
      margin-left: 22px;
      margin-right: 22px;
      transition: all 0.4s;
      &:hover{
        background: #4B8F37;
        color: #ffffff;
      }
    }
  }
  &-certificate{
    display: flex;
    justify-content: center;
    margin-top: 36px;
    .certificate{
      margin-left: 13px;
      margin-right: 13px;
      transition: all 0.4s;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
      cursor: pointer;
      &:hover{
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
@media (min-width: 801px) and (max-width: 1050px){
  .production{
    &-slide{
      height: 350px;
    }
    &-title{
      .title-text{
        font-size: 35px;
      }
    }
    &-content{
      .content-info{
        .info-title{
          font-size: 14px;
        }
        .info-desc{
          font-size: 15px;
          padding: 18px 0;
        }
      }
    }
    &-tabs{
      .tab-btn{
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        color: #623f27;
        padding: 9px 25px;
        margin-left: 5px;
        margin-right: 5px;
        transition: all .4s;
      }
    }
    &-certificate{
      .certificate{
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
      }
    }
  }
}
@media (max-width: 800px) {
  .production{
    &-slide{
      height: 350px;
    }
    &-title{
      .title-text{
        font-size: 35px;
      }
    }
    &-content{
      .content-info{
        .info-title{
          font-size: 14px;
        }
        .info-desc{
          font-size: 15px;
          padding: 18px 0;
        }
      }
    }
    &-tabs{
      .tab-btn{
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        color: #623f27;
        padding: 9px 25px;
        margin-left: 5px;
        margin-right: 5px;
        transition: all .4s;
      }
    }
    &-certificate{
      flex-flow: row wrap;
      .certificate{
        margin-left: 0;
        margin-right: 0;
        width: 50%;
        padding: 10px;
      }
    }
  }
}
