.breadcrumbs{
  padding-top: 150px;
  &-wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    li{
      display: flex;
      align-items: center;
      flex-direction: row;
      &:nth-child(1){
        &:before{
          display: none;
        }
      }
      &:before{
        content: url("../img/breadcrubms.svg");
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}
.goods{
  &-title{
    margin-top: 47px;
    .title-text{
      font-weight: bold;
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.09em;
      color: #623F27;
    }
  }
  &-card{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(213, 218, 215, 0.8);
    border-radius: 6px;
    width: 357px;
    padding: 25px 19px;
    margin-left: auto;
    margin-right: -23px;
    .card-line{
      .card-title{
        p{
          font-weight: 600;
          font-size: 18px;
          line-height: 1.6;
          color: #623F27;
          position: relative;
          width: max-content;
          a{
            position: absolute;
            right: -14px;
            top: -8px;
          }
        }
      }
      .card-options{
        padding-top: 14px;
        padding-bottom: 24px;
        .btn-option__active{
          background: #4B8F37 !important;
          border: 1px solid #4B8F37 !important;
          color: #ffffff !important;
        }
        .btn-option{
          font-weight: normal;
          font-size: 15px;
          color: #623F27;
          border: 1px solid #623F27;
          background: #ffffff;
          border-radius: 50px;
          padding: 4px 13px;
          margin-right: 6px;
          margin-bottom: 6px;
          &:nth-last-child(1){
            margin-right: 0;
          }
        }
      }
      .card-range{
        padding-top: 35px;
        padding-bottom: 35px;
        .irs--round .irs-line{
          height: 8px;
        }
        .irs--round .irs-bar{
          height: 8px;
        }
        .irs--round .irs-handle {
          top: 27px;
          width: 27px;
          height: 27px;
          border: 5px solid #4B8F37;
          background-color: white;
          border-radius: 24px;
          box-shadow: 0 1px 3px transparent;
        }
        .irs--round .irs-bar{
          background-color: #4B8F37;
        }
        .irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
          line-height: 1;
          text-shadow: none;
          font-weight: 400;
          font-size: 15px;
          color: #623f27;
          border: 1px solid #623f27;
          background: #fff;
          border-radius: 50px;
          padding: 4px 11px;
        }
        .irs-from, .irs-to, .irs-single {
          top: -21px;
        }
        .irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
          border: 0px solid transparent;
        }
      }
      .line-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 19px;
      }
      .card-discount{
        p{
          font-weight: 400;
          font-size: 18px;
          color: #4b8f37;
          padding: 5px 11px;
          border: 1px solid #4b8f37;
          border-radius: 4px;
          margin-top: -7px;
          margin-left: -3px;
        }
      }
      .card-unitPrice{
        p{
          font-weight: bold;
          font-size: 30px;
          color: #623F27;
        }
      }
      .card-price{
        p{
          font-weight: bold;
          font-size: 18px;
          color: #623F27;
        }
      }
    }
    .card-tax{
      .tax-wrapper{
        text-align: right;
        padding-top: 13px;
        padding-right: 3px;
        p{
          font-size: 15px;
          color: #757575;
          span{
            font-weight: 700;
          }
        }
        .tax-line{
          width: 141px;
          height: 1px;
          background: #757575;
          display: block;
          content: '';
          margin-left: auto;
          margin-top: 13px;
          margin-bottom: 14px;
        }
        .delivery-free{
          margin-bottom: 9px;
        }
      }
    }
    .card-submit{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 33px;
      padding-bottom: 10px;
      &__btn{
        font-weight: normal;
        font-size: 18px;
        color: #4B8F37;
        padding: 3px 15px;
        border: 2px solid #4B8F37;
        background: transparent;
        border-radius: 30px;
        transition: all 0.4s;
        &:hover{
          background: #4B8F37;
          color: #ffffff;
        }
      }
      p{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #4F4946;
        padding-top: 10px;
        a{
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  &-picture{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__cup{
      display: flex;
      justify-content: center;
      padding-right: 69px;
      margin-bottom: -67px;
      z-index: 2;
      img{
        width: 255px;
        height: 100%;
      }
    }
    &__podium{
      padding-left: 53px;
      margin-bottom: -20px;
    }
  }
  &-thumb{
    display: flex;
    flex-flow: row wrap;
    padding-top: 110px;
    .thumb-tab{
      padding-bottom: 26px;
      margin-right: 36px;
      position: relative;
      cursor: pointer;
      &:hover{
        .item-border{
          opacity: 1;
        }
      }
      .item-border{
        width: 96px;
        height: 96px;
        display: block;
        content: "";
        position: absolute;
        border: 1px solid #4b8f37;
        left: -8px;
        top: -8px;
        border-radius: 100%;
        transition: all 0.4s;
        opacity: 0;
        pointer-events: none;
      }
      .item-img{
        width: 79px;
        height: 79px;
        border-radius: 100%;
        background: #FFFFFF;
        position: relative;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        pointer-events: none;
        img{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 36px;
        }
      }
    }
  }
  &-content{
    padding-top: 82px;
    &__tabs{
      .content-tab{
        font-weight: normal;
        font-size: 15px;
        color: #4B8F37;
        padding: 4px 26px;
        border: 1px solid #4B8F37;
        border-radius: 50px;
        background: #ffffff;
        margin-right: 27px;
      }
      .tab-active{
        background: #4B8F37;
        color: #ffffff;
      }
    }
    &__text{
      padding-top: 45px;
      padding-right: 112px;
      position: relative;
      height: 290px;
      overflow: hidden;
      &:before{
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 3%, rgba(255, 255, 255, 0) 100%);
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
      }
      p{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
      }
    }
    &__btn{
      padding-top: 35px;
      button{
        font-weight: normal;
        font-size: 15px;
        color: #4B8F37;
        padding: 4px 26px;
        border: 1px solid #4B8F37;
        border-radius: 50px;
        background: #ffffff;
        margin-right: 27px;
        transition: all 0.4s;
        &:hover{
          background: #4B8F37;
          color: white;
        }
      }
    }
  }
  .advantage-list{
    margin-top: 77px;
    .advantage-item{
      margin-bottom: 54px;
    }
  }
  &-alternative{
    &__title{
      margin-top: 47px;
      position: relative;
      &:after{
        width: 357px;
        height: 1px;
        background: #4B8F37;
        display: block;
        content: '';
        position: absolute;
        bottom: -24px;
        left: 0;
      }
      p{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #623F27;
        text-transform: uppercase;
      }
    }
    &__card{
      display: flex;
      align-items: center;
      margin-top: 39px;
      padding-right: 35px;
      margin-bottom: 60px;
      .card-text{
        font-size: 18px;
        line-height: 25px;
        color: #623F27;
        width: 246px;
      }
      .card-img{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: #FFFFFF;
        position: relative;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        pointer-events: none;
        display: block;
        img{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 36px;
        }
      }
    }
  }
}
@media (min-width: 801px) and (max-width: 1050px){
  .breadcrumbs{
    padding-top: 120px;
    &-wrapper{
      li{
        font-size: 13px;
      }
    }
  }
  .goods{
    &-title{
      .title-text{
        font-size: 35px;
      }
    }
    &-picture{
      min-height: 390px;
      &__podium{
        padding-left: 0;
      }
      &__cup{
        padding-right: 0;
        margin-bottom: -42px;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        img{
          width: 200px;
        }
      }
    }
    &-thumb{
      .thumb-tab{
        margin-right: 17px;
      }
    }
    &-card{
      width: 100%;
      margin-right: 0;
      .card-line{
        .card-title{
          p{
            font-size: 15px;
          }
        }
        .card-options{
          .btn-option{
            font-size: 10px;
            margin-right: 3px;
          }
        }
        .card-discount{
          p{
            font-size: 14px;
            padding: 4px 9px;
            margin-top: 0;
            margin-left: 0;
          }
        }
        .card-unitPrice{
          p{
            font-size: 23px;
          }
        }
        .card-price{
          p{
            font-size: 15px;
          }
        }
      }
      .card-tax{
        .tax-wrapper{
          p{
            font-size: 12px;
          }
          .tax-line{
            width: 115px;
            margin-top: 9px;
            margin-bottom: 9px;
          }
        }
      }
      .card-submit{
        &__btn{
          font-size: 14px;
        }
        p{
          font-size: 15px;
          padding-top: 4px;
        }
      }
    }
    &-content{
      &__tabs{
        .content-tab{
          font-size: 13px;
          padding: 4px 15px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
      &__text{
        padding-right: 0;
        padding-top: 25px;
        p{
          font-size: 13px;
          line-height: 1.6;
        }
      }
      &__btn{
        button{
          font-size: 12px;
          padding: 4px 22px;
        }
      }
    }
    &-alternative{
      &__title{
        p{
          font-size: 15px;
        }
        &:after{
          width: 280px;
          bottom: -8px;
        }
      }
      &__card{
        padding-right: 0;
        margin-top: 16px;
        margin-bottom: 20px;
        .card-text{
          font-size: 14px;
          line-height: 1.5;
          width: 70%;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .breadcrumbs{
    padding-top: 120px;
    &-wrapper{
      li{
        font-size: 13px;
      }
    }
  }
  .goods{
    &-title{
      .title-text{
        font-size: 35px;
      }
    }
    &-picture{
      min-height: 390px;
      &__podium{
        padding-left: 0;
      }
      &__cup{
        padding-right: 0;
        margin-bottom: -42px;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        img{
          width: 200px;
        }
      }
    }
    &-thumb{
      .thumb-tab{
        margin-right: 17px;
      }
    }
    &-card{
      width: 100%;
      margin-right: 0;
      .card-line{
        .card-title{
          p{
            font-size: 15px;
          }
        }
        .card-options{
          .btn-option{
            font-size: 10px;
            margin-right: 3px;
          }
        }
        .card-discount{
          p{
            font-size: 14px;
            padding: 4px 9px;
            margin-top: 0;
            margin-left: 0;
          }
        }
        .card-unitPrice{
          p{
            font-size: 23px;
          }
        }
        .card-price{
          p{
            font-size: 15px;
          }
        }
      }
      .card-tax{
        .tax-wrapper{
          p{
            font-size: 12px;
          }
          .tax-line{
            width: 115px;
            margin-top: 9px;
            margin-bottom: 9px;
          }
        }
      }
      .card-submit{
        &__btn{
          font-size: 14px;
        }
        p{
          font-size: 15px;
          padding-top: 4px;
        }
      }
    }
    &-content{
      &__tabs{
        .content-tab{
          font-size: 13px;
          padding: 4px 15px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
      &__text{
        padding-right: 0;
        padding-top: 25px;
        p{
          font-size: 13px;
          line-height: 1.6;
        }
      }
      &__btn{
        button{
          font-size: 12px;
          padding: 4px 22px;
        }
      }
    }
    &-alternative{
      &__title{
        p{
          font-size: 15px;
        }
        &:after{
          width: 280px;
          bottom: -8px;
        }
      }
      &__card{
        padding-right: 0;
        margin-top: 16px;
        margin-bottom: 20px;
        .card-text{
          font-size: 14px;
          line-height: 1.5;
          width: 70%;
        }
      }
    }
  }
}
