img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  outline: none;
  color: inherit;
  &:hover{
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  &:focus{
    outline: none;
    text-decoration: none;
  }
}
