@media (min-width: 1510px) and (max-width: 1615px) {
  .wrapper{

    // Main page
    .header{
      zoom: 0.85;
    }
    .slider{
      zoom: 0.87;
    }
    .product{
      zoom: 0.84;
    }
    .clients{
      zoom: 0.84;
    }
    .quality{
      zoom: 0.87;
    }
    .advantage{
      zoom: 0.87;
    }
    .contact{
      zoom: 0.85;
    }
    .footer{
      zoom: 0.85
    }

    // Catalog page
    .breadcrumbs{
      zoom: 0.85;
    }
    .catalog{
      zoom: 0.85;
    }

    // Goods page
    .goods{
      .container{
        max-width: 976px;
      }
      &-title{
        margin-top: 31px;
        .title-text{
          font-size: 43px;
        }
      }
      &-picture{
        &__cup{
          padding-right: 37px;
          margin-bottom: -58px;
          img{
            width: 241px;
          }
        }
        &__podium{
          padding-left: 53px;
          margin-bottom: 95px;
          padding-right: 94px;
        }
      }
      &-card{
        width: 303px;
        margin-right: 0;
        position: relative;
        left: 18px;
        padding: 17px 18px;
        .card-line{
          .card-title{
            p{
              font-size: 15px;
            }
          }
          .card-options{
            .btn-option{
              font-size: 12px;
              padding: 3px 11px;
              margin-right: 5px;
              margin-bottom: 5px;
            }
          }
          .card-range{
            padding-top: 20px;
            padding-bottom: 23px;
            .irs-single{
              top: -12px;
              font-size: 13px;
            }
          }
          .card-discount{
            p{
              font-size: 15px;
              padding: 5px 9px;
              margin-top: -7px;
              margin-left: 12px;
            }
          }
          .card-unitPrice{
            p{
              font-size: 25px;
            }
          }
          .card-price{
            p{
              font-size: 15px;
            }
          }
        }
        .card-tax{
          .tax-wrapper{
            padding-top: 10px;
            .tax-status{
              font-size: 12px;
            }
            p{
              font-size: 12px;
            }
            .tax-line{
              width: 129px;
              height: 1px;
              margin-top: 13px;
              margin-bottom: 10px;
            }
          }
        }
        .card-submit{
          margin-top: 28px;
          &__btn{
            font-size: 15px;
            color: #4b8f37;
            padding: 3px 15px;
          }
          p{
            font-size: 15px;
            padding-top: 5px;
          }
        }
      }
      &-thumb{
        padding-top: 0;
      }
      &-content{
        padding-top: 52px;
        &__tabs{
          .content-tab{
            font-size: 13px;
            padding: 3px 21px;
            margin-right: 13px;
          }
        }
        &__text{
          margin-top: 36px;
          padding-top: 0;
          height: 210px;
          p{
            font-size: 15px;
            line-height: 25px;
          }
        }
        &__btn{
          button{
            font-size: 12px;
            padding: 3px 24px;
          }
        }
      }
      .advantage-list{
        margin-top: 52px;
      }
      .advantage-item{
        .item-img{
          img{
            width: 85px;
          }
        }
        .item-content{
          padding-left: 18px;
          .content-title{
            p{
              font-size: 16px;
            }
          }
          .content-desc{
            p{
              font-size: 13px;
            }
          }
        }
      }
      &-alternative{
        &__title{
          margin-top: 21px;
          p{
            font-size: 16px;
          }
          &:after{
            width: 309px;
            bottom: -17px;
          }
        }
        &__card{
          margin-top: 22px;
          margin-bottom: 48px;
          padding-right: 0;
          .card-text{
            font-size: 16px;
          }
        }
      }
    }

    // About us
    .wordpage{
      zoom: 0.85;
    }
    .see{
      zoom: 0.84;
    }


    // Shopping cart
    .shopping{
      zoom: 0.84;
    }

    // Production
    .production{
      zoom: 0.84;
      &-slide{
        height: 500px;
      }
    }
    .order-page {
      zoom: 0.85;
    }
    .pdf{
      zoom: 0.85;
    }
  }
}
@media (min-width: 1410px) and (max-width: 1500px){
  .wrapper{
    .pdf{
      zoom: 0.85;
    }
    // Main page
    .header{
      zoom: 0.85;
    }
    .slider{
      zoom: 0.87;
    }
    .product{
      zoom: 0.84;
    }
    .clients{
      zoom: 0.84;
    }
    .quality{
      zoom: 0.87;
    }
    .advantage{
      zoom: 0.87;
    }
    .contact{
      zoom: 0.85;
    }
    .footer{
      zoom: 0.85
    }

    // Catalog page
    .breadcrumbs{
      zoom: 0.85;
    }
    .catalog{
      zoom: 0.85;
    }

    // Goods page
    .goods{
      .container{
        max-width: 976px;
      }
      &-title{
        margin-top: 31px;
        .title-text{
          font-size: 43px;
        }
      }
      &-picture{
        &__cup{
          padding-right: 37px;
          margin-bottom: -58px;
          img{
            width: 241px;
          }
        }
        &__podium{
          padding-left: 53px;
          margin-bottom: 95px;
          padding-right: 94px;
        }
      }
      &-card{
        width: 303px;
        margin-right: 0;
        position: relative;
        left: 18px;
        padding: 17px 18px;
        .card-line{
          .card-title{
            p{
              font-size: 15px;
            }
          }
          .card-options{
            .btn-option{
              font-size: 12px;
              padding: 3px 11px;
              margin-right: 5px;
              margin-bottom: 5px;
            }
          }
          .card-range{
            padding-top: 20px;
            padding-bottom: 23px;
            .irs-single{
              top: -12px;
              font-size: 13px;
            }
          }
          .card-discount{
            p{
              font-size: 15px;
              padding: 5px 9px;
              margin-top: -7px;
              margin-left: 12px;
            }
          }
          .card-unitPrice{
            p{
              font-size: 25px;
            }
          }
          .card-price{
            p{
              font-size: 15px;
            }
          }
        }
        .card-tax{
          .tax-wrapper{
            padding-top: 10px;
            .tax-status{
              font-size: 12px;
            }
            p{
              font-size: 12px;
            }
            .tax-line{
              width: 129px;
              height: 1px;
              margin-top: 13px;
              margin-bottom: 10px;
            }
          }
        }
        .card-submit{
          margin-top: 28px;
          &__btn{
            font-size: 15px;
            color: #4b8f37;
            padding: 3px 15px;
          }
          p{
            font-size: 15px;
            padding-top: 5px;
          }
        }
      }
      &-thumb{
        padding-top: 0;
      }
      &-content{
        padding-top: 52px;
        &__tabs{
          .content-tab{
            font-size: 13px;
            padding: 3px 21px;
            margin-right: 13px;
          }
        }
        &__text{
          margin-top: 36px;
          padding-top: 0;
          height: 210px;
          p{
            font-size: 15px;
            line-height: 25px;
          }
        }
        &__btn{
          button{
            font-size: 12px;
            padding: 3px 24px;
          }
        }
      }
      .advantage-list{
        margin-top: 52px;
      }
      .advantage-item{
        .item-img{
          img{
            width: 85px;
          }
        }
        .item-content{
          padding-left: 18px;
          .content-title{
            p{
              font-size: 16px;
            }
          }
          .content-desc{
            p{
              font-size: 13px;
            }
          }
        }
      }
      &-alternative{
        &__title{
          margin-top: 21px;
          p{
            font-size: 16px;
          }
          &:after{
            width: 309px;
            bottom: -17px;
          }
        }
        &__card{
          margin-top: 22px;
          margin-bottom: 48px;
          padding-right: 0;
          .card-text{
            font-size: 16px;
          }
        }
      }
    }

    // About us
    .wordpage{
      zoom: 0.85;
    }
    .see{
      zoom: 0.84;
    }


    // Shopping cart
    .shopping{
      zoom: 0.84;
    }

    // Production
    .production{
      zoom: 0.84;
      &-slide{
        height: 500px;
      }
    }

    .order-page {
      zoom: 0.85;
    }
  }
  .advantage-modal .modal-title p {
    font-size: 20px !important;
  }
  .advantage-modal .modal-desc p {
    font-size: 16px !important;
  }
  .advantage-modal .modal-info ul li {
    font-size: 16px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
@media (min-width: 1301px) and (max-width: 1400px) {
  .wrapper{
    .pdf{
      zoom: 0.85;
    }
    // Main page
    .header{
      zoom: 0.85;
    }
    .slider{
      zoom: 0.87;
    }
    .product{
      zoom: 0.84;
    }
    .clients{
      zoom: 0.84;
    }
    .quality{
      zoom: 0.87;
    }
    .advantage{
      zoom: 0.87;
    }
    .contact{
      zoom: 0.85;
    }
    .footer{
      zoom: 0.85
    }

    // Catalog page
    .breadcrumbs{
      zoom: 0.85;
    }
    .catalog{
      zoom: 0.85;
    }

    // Goods page
    .goods{
      .container{
        max-width: 976px;
      }
      &-title{
        margin-top: 31px;
        .title-text{
          font-size: 43px;
        }
      }
      &-picture{
        &__cup{
          padding-right: 37px;
          margin-bottom: -58px;
          img{
            width: 241px;
          }
        }
        &__podium{
          padding-left: 53px;
          margin-bottom: 95px;
          padding-right: 94px;
        }
      }
      &-card{
        width: 303px;
        margin-right: 0;
        position: relative;
        left: 18px;
        padding: 17px 18px;
        .card-line{
          .card-title{
            p{
              font-size: 15px;
            }
          }
          .card-options{
            .btn-option{
              font-size: 12px;
              padding: 3px 11px;
              margin-right: 5px;
              margin-bottom: 5px;
            }
          }
          .card-range{
            padding-top: 20px;
            padding-bottom: 23px;
            .irs-single{
              top: -12px;
              font-size: 13px;
            }
          }
          .card-discount{
            p{
              font-size: 15px;
              padding: 5px 9px;
              margin-top: -7px;
              margin-left: 12px;
            }
          }
          .card-unitPrice{
            p{
              font-size: 25px;
            }
          }
          .card-price{
            p{
              font-size: 15px;
            }
          }
        }
        .card-tax{
          .tax-wrapper{
            padding-top: 10px;
            .tax-status{
              font-size: 12px;
            }
            p{
              font-size: 12px;
            }
            .tax-line{
              width: 129px;
              height: 1px;
              margin-top: 13px;
              margin-bottom: 10px;
            }
          }
        }
        .card-submit{
          margin-top: 28px;
          &__btn{
            font-size: 15px;
            color: #4b8f37;
            padding: 3px 15px;
          }
          p{
            font-size: 15px;
            padding-top: 5px;
          }
        }
      }
      &-thumb{
        padding-top: 0;
      }
      &-content{
        padding-top: 52px;
        &__tabs{
          .content-tab{
            font-size: 13px;
            padding: 3px 21px;
            margin-right: 13px;
          }
        }
        &__text{
          margin-top: 36px;
          padding-top: 0;
          height: 210px;
          p{
            font-size: 15px;
            line-height: 25px;
          }
        }
        &__btn{
          button{
            font-size: 12px;
            padding: 3px 24px;
          }
        }
      }
      .advantage-list{
        margin-top: 52px;
      }
      .advantage-item{
        .item-img{
          img{
            width: 85px;
          }
        }
        .item-content{
          padding-left: 18px;
          .content-title{
            p{
              font-size: 16px;
            }
          }
          .content-desc{
            p{
              font-size: 13px;
            }
          }
        }
      }
      &-alternative{
        &__title{
          margin-top: 21px;
          p{
            font-size: 16px;
          }
          &:after{
            width: 309px;
            bottom: -17px;
          }
        }
        &__card{
          margin-top: 22px;
          margin-bottom: 48px;
          padding-right: 0;
          .card-text{
            font-size: 16px;
            width: 213px;
          }
        }
      }
    }

    // About us
    .wordpage{
      zoom: 0.85;
    }
    .see{
      zoom: 0.84;
    }


    // Shopping cart
    .shopping{
      zoom: 0.84;
    }

    // Production
    .production{
      zoom: 0.84;
      &-slide{
        height: 500px;
      }
    }
    .order-page {
      zoom: 0.85;
    }
  }
  .advantage-modal .modal-title p {
    font-size: 20px !important;
  }
  .advantage-modal .modal-desc p {
    font-size: 16px !important;
  }
  .advantage-modal .modal-info ul li {
    font-size: 16px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .wrapper{
    .pdf{
      zoom: 0.85;
    }
    .order-page {
      zoom: 0.85;
    }
    // Main page
    .header{
      zoom: 0.85;
    }
    .slider{
      zoom: 0.87;
    }
    .product{
      zoom: 0.84;
    }
    .clients{
      zoom: 0.84;
    }
    .quality{
      zoom: 0.87;
    }
    .advantage{
      zoom: 0.87;
    }
    .contact{
      zoom: 0.85;
    }
    .footer{
      zoom: 0.85
    }

    // Catalog page
    .breadcrumbs{
      zoom: 0.85;
    }
    .catalog{
      zoom: 0.85;
    }

    // Goods page
    .goods{
      .container{
        max-width: 976px;
      }
      &-title{
        margin-top: 31px;
        .title-text{
          font-size: 43px;
        }
      }
      &-picture{
        &__cup{
          padding-right: 37px;
          margin-bottom: -58px;
          img{
            width: 241px;
          }
        }
        &__podium{
          padding-left: 53px;
          margin-bottom: 95px;
          padding-right: 94px;
        }
      }
      &-card{
        width: 303px;
        margin-right: 0;
        position: relative;
        left: 18px;
        padding: 17px 18px;
        .card-line{
          .card-title{
            p{
              font-size: 15px;
            }
          }
          .card-options{
            .btn-option{
              font-size: 12px;
              padding: 3px 11px;
              margin-right: 5px;
              margin-bottom: 5px;
            }
          }
          .card-range{
            padding-top: 20px;
            padding-bottom: 23px;
            .irs-single{
              top: -12px;
              font-size: 13px;
            }
          }
          .card-discount{
            p{
              font-size: 15px;
              padding: 5px 9px;
              margin-top: -7px;
              margin-left: 12px;
            }
          }
          .card-unitPrice{
            p{
              font-size: 25px;
            }
          }
          .card-price{
            p{
              font-size: 15px;
            }
          }
        }
        .card-tax{
          .tax-wrapper{
            padding-top: 10px;
            .tax-status{
              font-size: 12px;
            }
            p{
              font-size: 12px;
            }
            .tax-line{
              width: 129px;
              height: 1px;
              margin-top: 13px;
              margin-bottom: 10px;
            }
          }
        }
        .card-submit{
          margin-top: 28px;
          &__btn{
            font-size: 15px;
            color: #4b8f37;
            padding: 3px 15px;
          }
          p{
            font-size: 15px;
            padding-top: 5px;
          }
        }
      }
      &-thumb{
        padding-top: 0;
      }
      &-content{
        padding-top: 52px;
        &__tabs{
          .content-tab{
            font-size: 13px;
            padding: 3px 21px;
            margin-right: 13px;
          }
        }
        &__text{
          margin-top: 36px;
          padding-top: 0;
          height: 210px;
          p{
            font-size: 15px;
            line-height: 25px;
          }
        }
        &__btn{
          button{
            font-size: 12px;
            padding: 3px 24px;
          }
        }
      }
      .advantage-list{
        margin-top: 52px;
      }
      .advantage-item{
        .item-img{
          img{
            width: 85px;
          }
        }
        .item-content{
          padding-left: 18px;
          .content-title{
            p{
              font-size: 16px;
            }
          }
          .content-desc{
            p{
              font-size: 13px;
            }
          }
        }
      }
      &-alternative{
        &__title{
          margin-top: 21px;
          p{
            font-size: 16px;
          }
          &:after{
            width: 309px;
            bottom: -17px;
          }
        }
        &__card{
          margin-top: 22px;
          margin-bottom: 48px;
          padding-right: 0;
          .card-text{
            font-size: 16px;
          }
        }
      }
    }

    // About us
    .wordpage{
      zoom: 0.85;
    }
    .see{
      zoom: 0.84;
    }


    // Shopping cart
    .shopping{
      zoom: 0.84;
    }

    // Production
    .production{
      zoom: 0.84;
      &-slide{
        height: 500px;
      }
    }
  }
  .advantage-modal .modal-title p {
    font-size: 20px !important;
  }
  .advantage-modal .modal-desc p {
    font-size: 16px !important;
  }
  .advantage-modal .modal-info ul li {
    font-size: 16px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

