.shopping{
  padding-top: 183px;
  flex: 1 0 auto;
  &-title{
    .title-text{
      font-weight: bold;
      font-size: 35px;
      line-height: 35px;
      letter-spacing: 0.09em;
      color: #623F27;
    }
  }
  &-list{
    margin-top: 53px;
    margin-right: 76px;
  }
  &-item{
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #623F27;
    &:nth-child(1){
      border-top: 1px solid #623F27;
    }
    &__img{
      width: 79px;
      height: 79px;
      border-radius: 100%;
      background: #fff;
      position: relative;
      box-shadow: 0 2px 3px rgba(0,0,0,.25);
      pointer-events: none;
      img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: scale(0.7);
      }
    }
    &__content{
      padding-left: 14px;
      .content-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #623F27;
      }
      .content-category{
        font-size: 18px;
        line-height: 25px;
        color: #623F27;
      }
      .content-info{
        padding-top: 13px;
        p{
          font-size: 15px;
          line-height: 20px;
          color: #757575;
        }
      }
    }
    &__price{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-top: 42px;
      position: relative;
      right: -2px;
      .price-value{
        display: flex;
        align-items: center;
        margin-right: 14px;
        span{
          font-size: 18px;
          line-height: 25px;
          color: #623F27;
          margin-left: 6px;
        }
      }
      .shop-delete{
        button{
          background: transparent;
          border: 0;
        }
      }
    }
  }
  &-checkout{
    border: 1px solid #4B8F37;
    padding: 19px 27px 6px;
    margin-top: 54px;
    position: relative;
    right: -20px;
    width: 100%;
    .checkout-total{
      border-top: 1px solid #4B8F37;
      padding-top: 14px;
      margin-top: 4px;
    }
    .checkout-line,
    .checkout-total{
      display: flex;
      padding-bottom: 7px;
      justify-content: space-between;
      .title{
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #623F27;
      }
      .info{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #623F27;
        display: flex;
        align-items: center;
        span{
          padding-left: 9px;
        }
      }
    }
    .checkout-submit{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 33px;
      padding-bottom: 10px;
      &__btn{
        font-weight: normal;
        font-size: 18px;
        color: #fff;
        padding: 3px 37px;
        border: 2px solid #4B8F37;
        background: #4B8F37;
        border-radius: 30px;
        transition: all 0.4s;
        &:hover{
          background: #fff;
          color: #4B8F37;
        }
      }
      p{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #4F4946;
        padding-top: 10px;
        a{
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  + .goods{
    margin-top: 73px;
    + .footer{
      border-top: 1px solid #4B8F37;
    }
  }
}


@media (min-width: 801px) and (max-width: 1050px){
  .shopping{
    .shopping-list{
      margin-right: 0 !important;
    }
    &-item{
      &__content{
        padding-left: 0;
        .content-title{
          font-size: 15px;
          line-height: 1.4;
        }
        .content-category{
          font-size: 15px;
        }
        .content-info{
          p{
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
      &__price{
        justify-content: space-between;
        right: 0;
        padding-top: 25px;
      }
    }
    &-checkout{
      right: 0;
      .checkout-line{
        .title{
          font-size: 14px;
        }
        .info{
          font-size: 15px;
        }
      }
      .checkout-total{
        .title{
          font-size: 14px;
        }
        .info{
          font-size: 15px;
        }
      }
      .checkout-submit{
        margin-top: 20px;
        &__btn{
          font-size: 13px;
          padding: 4px 22px;
        }
        p{
          font-size: 14px;
          padding-top: 5px;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .shopping{
    &-list{
      margin-right: 0;
    }
    &-item{
      &__content{
        padding-left: 0;
        .content-title{
          font-size: 15px;
          line-height: 1.4;
        }
        .content-category{
          font-size: 15px;
        }
        .content-info{
          p{
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
      &__price{
        justify-content: space-between;
        right: 0;
        padding-top: 25px;
      }
    }
    &-checkout{
      right: 0;
      .checkout-line{
        .title{
          font-size: 14px;
        }
        .info{
          font-size: 15px;
        }
      }
      .checkout-total{
        .title{
          font-size: 14px;
        }
        .info{
          font-size: 15px;
        }
      }
      .checkout-submit{
        margin-top: 20px;
        &__btn{
          font-size: 13px;
          padding: 4px 22px;
        }
        p{
          font-size: 14px;
          padding-top: 5px;
        }
      }
    }
  }
}
