@import "~bootstrap/scss/bootstrap-grid";
@import "~reset-css/reset.css";
@import "tables";
@import "~swiper/swiper";
@import "../fonts/stylesheet";
@import "~jquery-modal/jquery.modal.min.css";
body{
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  overflow-x: hidden;
}
.ul-list{
  line-height: 1.3;
  padding-left: 15px;
  list-style: disc;
  ul{
    padding-left: 15px;
    list-style: circle;
  }
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
ul,
li{
  font-family: 'Open Sans', sans-serif;
}

input,
button,
textarea{
  outline: none;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
.wrapper{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title-text{
  font-family: 'ASPHALTIC GRAIN(RUS BY LYAJKA)';
}
img{
  line-height: 1;
  margin: 0;
  display: block;
}
input.error{
  border: 1px solid red !important;
  color: red !important;
  &::placeholder{
    color: red;
  }
}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
select{
  -webkit-appearance: none;
  border-radius: 0;
}
.arrow-up{
  position: fixed;
  right: 50px;
  bottom: 50px;
}
.blocker{
  background-color: rgba(0,0,0,0.4);
}
.no-before{
  &:before{
    display: none !important;
  }
}
// Responsive
@import "responsive";
// Custom reset
@import "reset";

// Main page
@import "main";

// Product
@import "product";

// About
@import "about";

// Catalog
@import "catalog";

// Shopping cart
@import "shopping";

// Contact page
@import "contact";

// Error page
@import "error";

// Production page
@import "production";

// Order page
@import "order-page";

// Pay
@import "pay";
